---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app flux-instance
spec:
  chart:
    spec:
      chart: *app
      sourceRef:
        kind: HelmRepository
        name: controlplaneio
        namespace: flux-system
      version: 0.33.0
  dependsOn:
    - name: flux-operator
      namespace: flux-system
  interval: 1h
  valuesFrom:
    - kind: ConfigMap
      name: flux-instance-helm-values
