---
apiVersion: kustomize.config.k8s.io/v1beta1
configMapGenerator:
  - files:
      - values.yaml=./helm-values.yaml
    name: flux-instance-helm-values
configurations:
  - kustomizeconfig.yaml
kind: Kustomization
resources:
  - ./ingress.yaml
  - ./reciever.yaml
  - ./helmrelease.yaml
  - ./prometheusrule.yaml
