---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-machine-learning
spec:
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 4.3.0
  install:
    remediation:
      retries: 3
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    controllers:
      immich-machine-learning:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v1.142.0@sha256:5e9cc6b9717e34f3cdc591aa860d6d29c990405ef87ad057ef95f73096ae6f29
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              fsGroup: 568
              fsGroupChangePolicy: OnRootMismatch
              readOnlyRootFilesystem: true
              runAsGroup: 568
              runAsNonRoot: true
              runAsUser: 568
              seccompProfile: {type: RuntimeDefault}
    persistence:
      model-cache:
        advancedMounts:
          immich-machine-learning:
            main:
              - path: /cache
        type: emptyDir
      tmp:
        advancedMounts:
          immich-machine-learning:
            main:
              - path: /tmp
        type: emptyDir
    service:
      immich-machine-learning:
        controller: *app
        ports:
          http:
            port: 3003
