---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-machine-learning
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      immich-machine-learning:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.4.0-openvino@sha256:538e20bf7261cea7170a79dd213919d482045965f572e5d8c3a14e59d9f7c702
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 50m
                memory: 3Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: immich
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    persistence:
      cache:
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /cache
            subPath: cache
          - path: /.cache
            subPath: dotcache
          - path: /.config
            subPath: dotconfig
        size: 20Gi
        storageClass: ceph-block
        type: persistentVolumeClaim
      tmp:
        type: emptyDir
    service:
      immich-machine-learning:
        controller: *app
        ports:
          http:
            port: 3003
