---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-machine-learning
spec:
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 4.4.0
  install:
    remediation:
      retries: 3
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    controllers:
      immich-machine-learning:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.2.3@sha256:bf339cbb44af6c2ef25d9128e1da51b2bec0cfd524846a83e3017c21bd71ddb4
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              fsGroup: 568
              fsGroupChangePolicy: OnRootMismatch
              readOnlyRootFilesystem: true
              runAsGroup: 568
              runAsNonRoot: true
              runAsUser: 568
              seccompProfile: {type: RuntimeDefault}
    persistence:
      model-cache:
        advancedMounts:
          immich-machine-learning:
            main:
              - path: /cache
        type: emptyDir
      tmp:
        advancedMounts:
          immich-machine-learning:
            main:
              - path: /tmp
        type: emptyDir
    service:
      immich-machine-learning:
        controller: *app
        ports:
          http:
            port: 3003
