# ---
# # yaml-language-server: $schema=https://schemas.serek.xyz/kustomize.toolkit.fluxcd.io/kustomization_v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: komodo
# spec:
#   dependsOn:
#     - name: komodo-pg
#   interval: 1h
#   path: ./kubernetes/apps/default/komodo/app
#   prune: true
#   sourceRef:
#     kind: GitRepository
#     name: home-kubernetes
#     namespace: flux-system
#   targetNamespace: default
#   wait: false
---
# yaml-language-server: $schema=https://schemas.serek.xyz/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: komodo-pg
spec:
  dependsOn:
    - name: external-secrets-stores
      namespace: security
    - name: cloudnative-pg
      namespace: database
  interval: 1h
  path: ./kubernetes/apps/default/komodo/db
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: default
  wait: true
