---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app komodo-ferret
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      komodo-ferret:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            env:
              FERRETDB_TELEMETRY: enable
            envFrom:
              - secretRef:
                  name: komodo-ferret-secret
            image:
              repository: ghcr.io/ferretdb/ferretdb
              tag: 2.7.0@sha256:5d8966f7ec1267d35fc61acc56fd9f3f62f22b4baf65ecb6c331b63b86a52aac
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    persistence:
      state:
        type: emptyDir
    service:
      komodo-ferret:
        controller: *app
        ports:
          http:
            port: 27017
