---
services:
  versity:
    container_name: versity
    image: ghcr.io/versity/versitygw:v1.2.0@sha256:b8241bf636b43787f75de32acb330205b585ca0a1b40761292a952867686f400
    user: 1000:1000
    environment:
      ROOT_ACCESS_KEY: 'versity'
      ROOT_SECRET_KEY: $VERSITY_ROOT_SECRET_KEY
      VGW_BACKEND: 'posix'
      VGW_BACKEND_ARGS: '/data/buckets --chuid true --chgid true'
      VGW_IAM_DIR: '/data/accounts'
      LOGFILE: '/log/access.log'
    networks:
      - caddy
    volumes:
      - /mnt/tank/docker/versity:/data
      - /mnt/flash/docker/versity/log:/log
    restart: always
    labels:
      caddy_0: versity.serek.xyz
      caddy_0.reverse_proxy: "{{upstreams 7070}}"
      caddy_0.import: cf

networks:
  caddy:
    external: true
