---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-microservices
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      immich-microservices:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            env:
              IMMICH_WORKERS_EXCLUDE: api
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.4.0@sha256:7e2d0df478651551df3358072e68c235200b875eccd6eb4a5c5d8879a7095cf4
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 50m
                memory: 3Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
        replicas: 1
        strategy: RollingUpdate
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: immich
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    persistence:
      media:
        advancedMounts:
          immich-microservices:
            main:
              - path: /usr/src/app/upload
        path: /mnt/tank/photos
        server: 10.0.30.40
        type: nfs
    service:
      immich-microservices:
        controller: *app
        ports:
          http:
            port: 2283
