---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ingress-nginx-certificates
spec:
  dependsOn:
    - name: cert-manager-issuers
      namespace: network
  interval: 1h
  path: ./kubernetes/apps/network/ingress-nginx/certificates
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: network
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ingress-nginx-external
spec:
  dependsOn:
    - name: ingress-nginx-certificates
      namespace: network
  interval: 1h
  path: ./kubernetes/apps/network/ingress-nginx/external
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: network
  wait: false
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ingress-nginx-internal
spec:
  dependsOn:
    - name: ingress-nginx-certificates
      namespace: network
  interval: 1h
  path: ./kubernetes/apps/network/ingress-nginx/internal
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: network
  wait: false
