---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres16
spec:
  backup:
    barmanObjectStore: &barmanObjectStore
      data:
        compression: bzip2
      destinationPath: s3://cnpg/
      endpointURL: https://s3.serek.xyz
      s3Credentials:
        accessKeyId:
          key: s3-access-key
          name: cloudnative-pg-secret
        secretAccessKey:
          key: s3-secret-key
          name: cloudnative-pg-secret
      serverName: &currentCluster postgres16-v4
      wal:
        compression: bzip2
        maxParallel: 8
    retentionPolicy: 30d
  enableSuperuserAccess: true
  # bootstrap:
  #   recovery:
  #     source: &previousCluster postgres16-v3
  # externalClusters:
  #   - barmanObjectStore:
  #       !!merge <<: *barmanObjectStore
  #       serverName: *previousCluster
  #     name: *previousCluster
  imageName: ghcr.io/cloudnative-pg/postgresql:16.10@sha256:3f0ef6da782d2872dda3b51202795e2d8ca361a2ea3070f9f7bee937319a9048
  instances: 3
  managed:
    roles:
      - login: true
        name: bazarr
        passwordSecret:
          name: bazarr-pg-secret
      - login: true
        name: prowlarr
        passwordSecret:
          name: prowlarr-pg-secret
      - login: true
        name: radarr
        passwordSecret:
          name: radarr-pg-secret
      - login: true
        name: sonarr
        passwordSecret:
          name: sonarr-pg-secret
      - login: true
        name: gatus
        passwordSecret:
          name: gatus-pg-secret
      - login: true
        name: jellyseerr
        passwordSecret:
          name: jellyseerr-pg-secret
      - login: true
        name: atuin
        passwordSecret:
          name: atuin-pg-secret
      - login: true
        name: zipline
        passwordSecret:
          name: zipline-pg-secret
      - login: true
        name: trunk-processor
        passwordSecret:
          name: trunk-processor-pg-secret
  monitoring:
    enablePodMonitor: true
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: 512MB
  primaryUpdateStrategy: unsupervised
  resources:
    limits:
      cpu: 2
      hugepages-1Gi: 1Gi
      memory: 2Gi
    requests:
      cpu: 2
      hugepages-1Gi: 1Gi
      memory: 2Gi
  storage:
    size: 20Gi
    storageClass: openebs-hostpath
  superuserSecret:
    name: cloudnative-pg-secret
