---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: bazarr-pg
spec:
  dataFrom:
    - extract:
        key: bazarr
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: bazarr-pg-secret
    template:
      data:
        password: "{{ .dbPass }}"
        username: "{{ .dbUser }}"
      metadata:
        labels:
          cnpg.io/reload: "true"
---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr-pg
spec:
  dataFrom:
    - extract:
        key: radarr
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: radarr-pg-secret
    template:
      data:
        password: "{{ .dbPass }}"
        username: "{{ .dbUser }}"
      metadata:
        labels:
          cnpg.io/reload: "true"
---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sonarr-pg
spec:
  dataFrom:
    - extract:
        key: sonarr
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: sonarr-pg-secret
    template:
      data:
        password: "{{ .dbPass }}"
        username: "{{ .dbUser }}"
      metadata:
        labels:
          cnpg.io/reload: "true"
---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr-pg
spec:
  dataFrom:
    - extract:
        key: prowlarr
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: prowlarr-pg-secret
    template:
      data:
        password: "{{ .dbPass }}"
        username: "{{ .dbUser }}"
      metadata:
        labels:
          cnpg.io/reload: "true"
---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gatus-pg
spec:
  dataFrom:
    - extract:
        key: gatus
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: gatus-pg-secret
    template:
      data:
        password: "{{ .dbPass }}"
        username: "{{ .dbUser }}"
      metadata:
        labels:
          cnpg.io/reload: "true"
---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: jellyseerr-pg
spec:
  dataFrom:
    - extract:
        key: jellyseerr
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: jellyseerr-pg-secret
    template:
      data:
        password: "{{ .dbPass }}"
        username: "{{ .dbUser }}"
      metadata:
        labels:
          cnpg.io/reload: "true"
---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: atuin-pg
spec:
  dataFrom:
    - extract:
        key: atuin
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: atuin-pg-secret
    template:
      data:
        password: "{{ .dbPass }}"
        username: "{{ .dbUser }}"
      metadata:
        labels:
          cnpg.io/reload: "true"
---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: trunk-processor-pg
spec:
  dataFrom:
    - extract:
        key: trunk-processor
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: trunk-processor-pg-secret
    template:
      data:
        password: "{{ .dbPass }}"
        username: "{{ .dbUser }}"
      metadata:
        labels:
          cnpg.io/reload: "true"
---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless-pg
spec:
  dataFrom:
    - extract:
        key: paperless
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: paperless-pg-secret
    template:
      data:
        password: "{{ .dbPass }}"
        username: "{{ .dbUser }}"
      metadata:
        labels:
          cnpg.io/reload: "true"
