---
apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: multus-untrusted
spec:
  config: |-
    {
      "cniVersion": "1.1.0",
      "name": "multus-untrusted",
      "plugins": [
        {
          "type": "macvlan",
          "master": "bond0.20",
          "mode": "bridge",
          "ipam": {
            "type": "static",
            "routes": [
              {"dst": "10.0.20.0/24"}
            ]
          }
        },
        {
          "type": "sbr"
        }
      ]
    }
