---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cilium
spec:
  components:
    - ../../../../components/gatus/internal
  interval: 1h
  path: ./kubernetes/apps/kube-system/cilium/app
  postBuild:
    substitute:
      APP: hubble
  prune: false
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: kube-system
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cilium-config
spec:
  dependsOn:
    - name: cilium
      namespace: kube-system
  interval: 1h
  path: ./kubernetes/apps/kube-system/cilium/config
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: kube-system
  wait: false
