---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app victoria-logs
spec:
  components:
    - ../../../../components/gatus/internal
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 1h
  path: ./kubernetes/apps/observability/victoria-logs/app
  postBuild:
    substitute:
      APP: *app
      GATUS_SUBDOMAIN: logs
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: observability
  wait: false
