---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      esphome:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/esphome
              tag: 2025.12.6@sha256:26c0a09d5a70955b2f2d84c8c66918afb321b6da1ce0d9d7384970afc8985c96
            resources:
              limits:
                memory: 4Gi
              requests:
                cpu: 100m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
          code-server:
            args: ["--auth", "none", "--user-data-dir", "/config/.vscode", "--extensions-dir", "/config/.vscode", "--port", "12321", "/config"]
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.108.0@sha256:cfa2b8f3a470f610cf87ac308696922f81cd27732f7b50c1990a90a100712fea 
            resources:
              limits:
                memory: 512Mi
              requests:
                cpu: 10m
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name": "multus-untrusted",
                "namespace": "network",
                "ips": ["10.0.20.71/24"]
              }]
          securityContext:
            fsGroup: 3000
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 3000
            runAsNonRoot: true
            runAsUser: 3000
            seccompProfile: {type: RuntimeDefault}
    persistence:
      cache:
        type: emptyDir
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.serek.xyz"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: code-server
                port: &code-server-port 12321
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    replacePrefixMatch: /
                    type: ReplacePrefixMatch
            matches:
              - path:
                  type: PathPrefix
                  value: /code/
          - backendRefs:
              - identifier: app
                port: &esphome-port 6052
    service:
      app:
        ports:
          http:
            port: *esphome-port
      code-server:
        ports:
          http:
            port: *code-server-port
