---
# yaml-language-server: $schema=https://schemas-xyz.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app home-assistant
spec:
  components:
    - ../../../../components/gatus/external
    - ../../../../components/volsync
  dependsOn:
    - name: multus-networks
      namespace: network
  interval: 1h
  path: ./kubernetes/apps/default/home-assistant/app
  postBuild:
    substitute:
      APP: *app
      GATUS_SUBDOMAIN: hass
      VOLSYNC_CAPACITY: 10Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: default
  wait: false
# ---
# # yaml-language-server: $schema=https://schemas-xyz.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: &app appdaemon
#   namespace: flux-system
# spec:
#   interval: 1h
#   path: ./kubernetes/apps/default/home-assistant/appdaemon
#   prune: true
#   sourceRef:
#     kind: GitRepository
#     name: home-kubernetes
#     namespace: flux-system
#   targetNamespace: default
#   wait: false
