---
services:
  matchbox:
    image: quay.io/poseidon/matchbox:v0.11.0-99-gfad6d0c0
    environment:
      - TZ=America/New_York
      - MATCHBOX_ADDRESS=0.0.0.0:8080
      - MATCHBOX_LOG_LEVEL=debug
    network_mode: host
    volumes:
      - $DOCKER_DATA/pxe/varlib:/var/lib/matchbox
      - $DOCKER_DATA/pxe/assets:/var/lib/matchbox/assets
    restart: always

  dnsmasq:
    image: quay.io/poseidon/dnsmasq:v0.5.0-40-g494d4e0
    network_mode: host
    cap_add:
      - NET_ADMIN
    restart: always
    command: '-d -q
      --dhcp-range=10.0.30.1,proxy,255.255.255.0
      --enable-tftp --tftp-root=/var/lib/tftpboot
      --dhcp-userclass=set:ipxe,iPXE
      --pxe-service=tag:#ipxe,x86PC,"PXE chainload to iPXE",undionly.kpxe
      --pxe-service=tag:ipxe,x86PC,"iPXE",http://10.0.30.40:8080/boot.ipxe
      --pxe-service=tag:#ipxe,X86-64_EFI,"PXE chainload to iPXE UEFI",ipxe.efi
      --pxe-service=tag:ipxe,X86-64_EFI,"iPXE UEFI",http://10.0.30.40:8080/boot.ipxe
      --log-queries
      --log-dhcp'
