#shellcheck disable=SC2148,SC2155
export KUBECONFIG="$(expand_path ./kubeconfig)"
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
export K8S_AUTH_KUBECONFIG="$(expand_path ./kubeconfig)"
export KUBERNETES_DIR="$(expand_path ./kubernetes)"
export HOMEBREW_BUNDLE_FILE="$(expand_path ./.brewfile)"
# Talos
export TALOSCONFIG="$(expand_path ./kubernetes/bootstrap/talos/clusterconfig/talosconfig)"
# export RESTIC_PASSWORD="$(op read op://home-k8s/volsync/resticPassword)"
# export AWS_ACCESS_KEY_ID="$(op read op://home-k8s/volsync/s3AccessKey)"
# export AWS_SECRET_ACCESS_KEY="$(op read op://home-k8s/volsync/s3SecretKey)"
# # octodns
# export OCTODNS_CF_TOKEN="$(op read op://home-k8s/octodns/cfToken)"
# Bin
PATH_add "$(expand_path ./.bin)"
