frontend k8s-frontend
    bind *:6443
    mode tcp
    option tcplog
    default_backend k8s-backend

backend k8s-backend
    mode tcp
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s
    server server-1 10.0.30.31:6443 check
    server server-2 10.0.30.32:6443 check
    server server-3 10.0.30.33:6443 check

frontend talos-frontend
    bind *:50000
    mode tcp
    option tcplog
    default_backend talos-backend

backend talos-backend
    mode tcp
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s
    server server-1 10.0.30.31:50000 check
    server server-2 10.0.30.32:50000 check
    server server-3 10.0.30.33:50000 check
