---
# yaml-language-server: $schema=https://schemas-xyz.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: descheduler
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.34.0
  url: oci://ghcr.io/home-operations/charts-mirror/descheduler
---
# yaml-language-server: $schema=https://schemas-xyz.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app descheduler
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    deschedulerPolicy:
      profiles:
        - name: Default
          pluginConfig:
            - args:
                evictFailedBarePods: true
                evictLocalStoragePods: true
                evictSystemCriticalPods: true
                nodeFit: true
              name: DefaultEvictor
            - name: RemovePodsViolatingInterPodAntiAffinity
            - args:
                nodeAffinityType:
                  - requiredDuringSchedulingIgnoredDuringExecution
              name: RemovePodsViolatingNodeAffinity
            - name: RemovePodsViolatingNodeTaints
            - args:
                constraints:
                  - DoNotSchedule
                  - ScheduleAnyway
              name: RemovePodsViolatingTopologySpreadConstraint
          plugins:
            balance:
              enabled:
                - RemovePodsViolatingTopologySpreadConstraint
            deschedule:
              enabled:
                - RemovePodsViolatingInterPodAntiAffinity
                - RemovePodsViolatingNodeAffinity
                - RemovePodsViolatingNodeTaints
    deschedulerPolicyAPIVersion: descheduler/v1alpha2
    deschedulingInterval: 1m
    kind: Deployment
    leaderElection:
      enabled: true
    replicas: 2
    service:
      enabled: true
    serviceMonitor:
      enabled: true
