---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: descheduler
spec:
  chart:
    spec:
      chart: descheduler
      sourceRef:
        kind: HelmRepository
        name: descheduler
        namespace: flux-system
      version: 0.34.0
  interval: 1h
  values:
    deschedulerPolicy:
      profiles:
        - name: Default
          pluginConfig:
            - args:
                evictFailedBarePods: true
                evictLocalStoragePods: true
                evictSystemCriticalPods: true
                nodeFit: true
              name: DefaultEvictor
            - name: RemovePodsViolatingInterPodAntiAffinity
            - args:
                nodeAffinityType:
                  - requiredDuringSchedulingIgnoredDuringExecution
              name: RemovePodsViolatingNodeAffinity
            - name: RemovePodsViolatingNodeTaints
            - args:
                constraints:
                  - DoNotSchedule
                  - ScheduleAnyway
              name: RemovePodsViolatingTopologySpreadConstraint
          plugins:
            balance:
              enabled:
                - RemovePodsViolatingTopologySpreadConstraint
            deschedule:
              enabled:
                - RemovePodsViolatingInterPodAntiAffinity
                - RemovePodsViolatingNodeAffinity
                - RemovePodsViolatingNodeTaints
    deschedulerPolicyAPIVersion: descheduler/v1alpha2
    deschedulingInterval: 1m
    kind: Deployment
    leaderElection:
      enabled: true
    replicas: 2
    service:
      enabled: true
    serviceMonitor:
      enabled: true
