---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app node-red
spec:
  components:
    - ../../../../components/gatus/internal
    - ../../../../components/volsync
  interval: 1h
  path: ./kubernetes/apps/default/node-red/app
  postBuild:
    substitute:
      APP: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: default
  wait: false
