---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mainsail
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      mainsail:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              TZ: America/New_York
            image:
              repository: ghcr.io/goochs/mainsail
              tag: 2.14.0@sha256:f352812ee94979014b8c61e6ac9f94505f9a66b6d1165f83b2100c5300a17efe
            probes:
              readiness:
                spec:
                  httpGet:
                    path: /
                    port: &port 8080
            resources:
              limits:
                memory: 100Mi
              requests:
                cpu: 100m
                memory: 50Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name": "multus-untrusted",
            "namespace": "network",
            "ips": ["10.0.20.71/24"],
            "mac": "fa:b0:6a:e5:87:8f"
          }]
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    persistence:
      config-file:
        globalMounts:
          - path: /usr/share/nginx/html/config.json
            readOnly: true
            subPath: config.json
        name: mainsail-configmap
        type: configMap
      tmp:
        type: emptyDir
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.serek.xyz"
        parentRefs:
          - name: envoy-internal
            namespace: network
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
