---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: coredns
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 1.45.0
  url: oci://ghcr.io/coredns/charts/coredns
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app coredns
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: Exists
    fullnameOverride: coredns
    k8sAppLabelOverride: kube-dns
    replicaCount: 2
    servers:
      - plugins:
          - name: errors
          - configBlock: |-
              lameduck 5s
            name: health
          - name: ready
          - configBlock: |-
              pods verified
              fallthrough in-addr.arpa ip6.arpa
            name: kubernetes
            parameters: cluster.local in-addr.arpa ip6.arpa
          - name: autopath
            parameters: "@kubernetes"
          - name: forward
            parameters: . /etc/resolv.conf
          - configBlock: |-
              prefetch 20
              serve_stale
            name: cache
          - name: loop
          - name: reload
          - name: loadbalance
          - name: prometheus
            parameters: 0.0.0.0:9153
          - configBlock: |-
              class error
            name: log
        port: 53
        zones:
          - scheme: dns://
            use_tcp: true
            zone: .
    service:
      clusterIP: 10.1.128.10
      name: kube-dns
    serviceAccount:
      create: true
    tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
