---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: coredns
spec:
  chart:
    spec:
      chart: coredns
      sourceRef:
        kind: HelmRepository
        name: coredns
        namespace: flux-system
      version: 1.45.0
  interval: 1h
  valuesFrom:
    - kind: ConfigMap
      name: coredns-helm-values
