---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app zipline
spec:
  components:
    - ../../../../components/gatus/external
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: database
    - name: external-secrets-stores
      namespace: security
  interval: 1h
  path: ./kubernetes/apps/default/zipline/app
  postBuild:
    substitute:
      APP: *app
      GATUS_SUBDOMAIN: zl
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: default
  wait: false
