---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sabnzbd
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      sabnzbd:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              SABNZBD__HOST_WHITELIST_ENTRIES: sabnzbd, sabnzbd.media, sabnzbd.media.svc, sabnzbd.media.svc.cluster, sabnzbd.media.svc.cluster.local, sabnzbd.serek.xyz
              SABNZBD__PORT: &port 8080
              TZ: America/New_York
            image:
              repository: ghcr.io/home-operations/sabnzbd
              tag: 4.5.5@sha256:f1778f06159a1d69763cca1f7e49e39eaedf59085801073bbe6ba98d51c9caa6
            # probes:
            #   liveness: &probes
            #     custom: true
            #     enabled: true
            #     spec:
            #       failureThreshold: 5
            #       httpGet:
            #         path: /api?mode=version
            #         port: *port
            #       initialDelaySeconds: 0
            #       periodSeconds: 15
            #       timeoutSeconds: 5
            #   readiness: *probes
            resources:
              limits:
                memory: 12Gi
              requests:
                cpu: 100m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    persistence:
      config:
        existingClaim: *app
      incomplete:
        globalMounts:
          - path: /incomplete
        path: /mnt/flash/scratch
        server: 10.0.30.40
        type: nfs
      media:
        globalMounts:
          - path: /media
        path: /mnt/tank/media
        server: 10.0.30.40
        type: nfs
      tmp:
        type: emptyDir
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.serek.xyz"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
