---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugin-operator
spec:
  chart:
    spec:
      chart: intel-device-plugins-operator
      sourceRef:
        kind: HelmRepository
        name: intel
        namespace: flux-system
      version: 0.34.0
  dependsOn:
    - name: node-feature-discovery
      namespace: kube-system
  interval: 1h
