---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-server
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      immich-server:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            env:
              IMMICH_WORKERS_INCLUDE: api
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.3.1@sha256:f8d06a32b1b2a81053d78e40bf8e35236b9faefb5c3903ce9ca8712c9ed78445
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    persistence:
      geocoding-dump:
        advancedMounts:
          immich-server:
            main:
              - path: /usr/src/app/.reverse-geocoding-dump
        type: emptyDir
      matplotlib:
        advancedMounts:
          immich-server:
            main:
              - path: /config/matplotlib
        type: emptyDir
      media:
        advancedMounts:
          immich-server:
            main:
              - path: /usr/src/app/upload
        path: /mnt/tank/photos
        server: 10.0.30.40
        type: nfs
      transformers-cache:
        advancedMounts:
          immich-server:
            main:
              - path: /usr/src/app/.transformers_cache
        type: emptyDir
    route:
      app:
        hostnames:
          - immich.serek.xyz
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
    service:
      immich-server:
        controller: *app
        ports:
          http:
            port: 2283
