---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-server
spec:
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 4.4.0
  install:
    remediation:
      retries: 3
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    controllers:
      immich-server:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            env:
              IMMICH_WORKERS_INCLUDE: api
            envFrom:
              - secretRef:
                  name: immich-secret
              - configMapRef:
                  name: immich-configmap
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.2.3@sha256:4504d794123c3f5410cc45bbc61e4d7dbcacec1e1b0cd2e599691430c94e5849
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    ingress:
      app:
        className: external
        hosts:
          - host: immich.serek.xyz
            paths:
              - path: /
                service:
                  identifier: immich-server
                  port: http
    persistence:
      geocoding-dump:
        advancedMounts:
          immich-server:
            main:
              - path: /usr/src/app/.reverse-geocoding-dump
        type: emptyDir
      matplotlib:
        advancedMounts:
          immich-server:
            main:
              - path: /config/matplotlib
        type: emptyDir
      media:
        advancedMounts:
          immich-server:
            main:
              - path: /usr/src/app/upload
        path: /mnt/tank/photos
        server: 10.0.30.40
        type: nfs
      transformers-cache:
        advancedMounts:
          immich-server:
            main:
              - path: /usr/src/app/.transformers_cache
        type: emptyDir
    service:
      immich-server:
        controller: *app
        ports:
          http:
            port: 2283
