---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: victoria-metrics
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: ceph-block
