---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: alertmanager
spec:
  dataFrom:
    - extract:
        key: alertmanager
    - extract:
        key: pushover
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: alertmanager-secret
    template:
      data:
        alertmanager.yaml: |-
          route:
            receiver: blackhole
            routes:
            - routes:
              - matchers:
                - alertname="Watchdog"
                group_interval: 1m
                group_wait: 0s
                repeat_interval: 1m
                receiver: heartbeat
                continue: false
              - matchers:
                - severity="critical"
                receiver: pushover
                continue: false
              - matchers:
                - alertname="InfoInhibitor"
                receiver: null
                continue: false
              matchers:
              - namespace = "observability"
              group_by:
              - alertname
              - job
              group_interval: 10m
              group_wait: 1m
              repeat_interval: 12h
              receiver: pushover
              continue: true
          receivers:
          - name: blackhole
          - name: heartbeat
            webhook_configs:
            - url: {{ .alertmanagerHeartbeatUrl }}
          - name: pushover
            pushover_configs:
            - user_key: {{ .pushoverUserKey }}
              token: {{ .alertmanagerPushoverToken }}
              priority: '{{ if eq .Status "firing" }}1{{ else }}0{{ end }}'
              message: |-
                {{- range .Alerts }}
                  {{- if ne .Annotations.description "" }}
                    {{ .Annotations.description }}
                  {{- else if ne .Annotations.summary "" }}
                    {{ .Annotations.summary }}
                  {{- else if ne .Annotations.message "" }}
                    {{ .Annotations.message }}
                  {{- else }}
                    Alert description not available
                  {{- end }}
                  {{- if gt (len .Labels.SortedPairs) 0 }}
                    <small>
                      {{- range .Labels.SortedPairs }}
                        <b>{{ .Name }}:</b> {{ .Value }}
                      {{- end }}
                    </small>
                  {{- end }}
                {{- end }}
              title: '[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing
                | len }}{{ end }}] {{ .CommonLabels.alertname }}'
              url_title: View in Alertmanager
              html: true
              send_resolved: true
          - name: null
      engineVersion: v2
