---
# yaml-language-server: $schema=https://schemas.serek.xyz/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: vm-stack
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.70.0
  url: oci://ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack
---
# yaml-language-server: $schema=https://schemas.serek.xyz/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vm-stack
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    alertmanager:
      enabled: true
      monzotemplate:
        enabled: false
      route:
        enabled: true
        hostnames:
          - alertmanager.serek.xyz
        parentRefs:
          - name: envoy-internal
            namespace: network
      spec:
        disableNamespaceMatcher: true
    coreDns:
      enabled: true
    crds:
      enabled: false
    defaultDashboards:
      enabled: true
      grafanaOperator:
        enabled: true
    defaultDatasources:
      grafanaOperator:
        # -- Create datasources as CRDs (requires grafana-operator to be installed)
        enabled: true
        spec:
          allowCrossNamespaceImport: true
          instanceSelector:
            matchLabels:
              dashboards: grafana
    defaultRules:
      create: true
    fullnameOverride: *app
    grafana:
      enabled: false
    kube-state-metrics:
      enabled: true
      fullnameOverride: kube-state-metrics
    kubeApiServer:
      enabled: true
    kubeControllerManager:
      enabled: true
      service:
        selector:
          component: kube-apiserver # Selects controller node IPs
      vmScrape:
        spec:
          endpoints:
            - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
              port: http-metrics
              scheme: https
              tlsConfig:
                insecureSkipVerify: true
    kubeEtcd:
      enabled: true
      service:
        port: 2381
        selector:
          component: kube-apiserver # Selects controller node IPs
        targetPort: 2381
      vmScrape:
        spec:
          endpoints:
            - scheme: http
    kubeProxy:
      enabled: false
    kubeScheduler:
      enabled: true
      vmScrape:
        spec:
          endpoints:
            - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
              port: http-metrics
              scheme: https
              tlsConfig:
                insecureSkipVerify: true
    kubelet:
      enabled: true
    prometheus-node-exporter:
      enabled: true
      fullnameOverride: node-exporter
    victoria-metrics-operator:
      enabled: false
    vmagent:
      enabled: true
      route:
        enabled: true
        hostnames:
          - vmagent.serek.xyz
        parentRefs:
          - name: envoy-internal
            namespace: network
      spec:
        resources:
          limits:
            cpu: 2000m
            memory: 1Gi
        scrapeInterval: 20s
        selectAllByDefault: true
    vmalert:
      enabled: true
    vmsingle:
      enabled: true
      route:
        enabled: true
        hostnames:
          - vmsingle.serek.xyz
        parentRefs:
          - name: envoy-internal
            namespace: network
      spec:
        extraArgs:
          maxLabelsPerTimeseries: "40" # TODO: this seems insane? not sure why dropping isn't working
          search.maxUniqueTimeseries: "600000"
          search.minStalenessInterval: 5m
        replicaCount: 1
        retentionPeriod: "6w"
        storageDataPath: &dataPath "/vm"
        useDefaultResources: false
        useStrictSecurity: true
        volumeMounts:
          - mountPath: *dataPath
            name: &volume vm
        volumes:
          - name: *volume
            persistentVolumeClaim:
              claimName: victoria-metrics
