---
# yaml-language-server: $schema=https://schemas.serek.xyz/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: vm-operator-stack
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.63.6
  url: oci://ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack
---
# yaml-language-server: $schema=https://schemas.serek.xyz/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vm-operator-stack
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  dependsOn:
    - name: vm-operator
      namespace: observability
    - name: vm-operator-crds
      namespace: observability
  interval: 1h
  values:
    alertmanager:
      enabled: true
    coreDns:
      enabled: true
    crds:
      enabled: false
    defaultDashboards:
      enabled: true
    defaultRules:
      create: true
    fullnameOverride: *app
    grafana:
      enabled: false
    kube-state-metrics:
      enabled: true
      fullnameOverride: vm-kube-state-metrics
    kubeApiServer:
      enabled: true
    kubeControllerManager:
      enabled: true
      service:
        selector:
          component: kube-apiserver # Selects controller node IPs
      vmScrape:
        spec:
          endpoints:
            - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
              port: http-metrics
              scheme: https
              tlsConfig:
                insecureSkipVerify: true
    kubeEtcd:
      enabled: true
      service:
        port: 2381
        selector:
          component: kube-apiserver # Selects controller node IPs
        targetPort: 2381
      vmScrape:
        spec:
          endpoints:
            - scheme: http
    kubeProxy:
      enabled: false
    kubeScheduler:
      enabled: true
    kubelet:
      enabled: true
      vmScrape:
        spec:
          metricRelabelConfigs:
            - action: labeldrop
              regex: (feature_node_kubernetes_io|plan_upgrade_cattle_io).*
            - action: labeldrop
              regex: (uid)
            - action: labeldrop
              regex: (id|name)
            - action: drop
              regex: (rest_client_request_duration_seconds_bucket|rest_client_request_duration_seconds_sum|rest_client_request_duration_seconds_count)
              source_labels:
                - __name__
    prometheus-node-exporter:
      enabled: false # TODO: revert when prometheus fully removed
    victoria-metrics-operator:
      enabled: false
    vmagent:
      enabled: true
      spec:
        scrapeInterval: 20s
        selectAllByDefault: true
    vmalert:
      enabled: true
    vmsingle:
      enabled: true
      route:
        enabled: true
        hostnames:
          - vmsingle.serek.xyz
        parentRefs:
          - name: envoy-internal
            namespace: network
      spec:
        extraArgs:
          maxLabelsPerTimeseries: "40"
          search.maxUniqueTimeseries: "600000"
          search.minStalenessInterval: 5m
        replicaCount: 1
        retentionPeriod: "6w"
        storageDataPath: &dataPath "/vm"
        useDefaultResources: false
        useStrictSecurity: true
        volumeMounts:
          - mountPath: *dataPath
            name: &volume vm
        volumes:
          - name: *volume
            persistentVolumeClaim:
              claimName: victoria-metrics
