---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      jellyfin:
        containers:
          app:
            env:
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
              JELLYFIN_CACHE_DIR: /cache
              JELLYFIN_DATA_DIR: /config
              TZ: America/New_York
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.5@sha256:cd7e4cb71812dd76988a725da615e37c6d0d24c200be904ad5d183e51f1dc6ed
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /health
                    port: &port 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *probes
            resources:
              claims:
                - name: gpu
              limits:
                memory: 8Gi
              requests:
                cpu: 100m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: jellyfin
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    persistence:
      cache:
        type: emptyDir
      config:
        existingClaim: *app
      media:
        globalMounts:
          - path: /media
        path: /mnt/tank/media/media
        server: 10.0.30.40
        type: nfs
      tmp:
        type: emptyDir
      transcode:
        type: emptyDir
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.serek.xyz"
        parentRefs:
          - name: envoy-external
            namespace: network
    service:
      app:
        annotations:
          io.cilium/lb-ipam-ips: 10.0.41.55
        controller: *app
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: *port
        type: LoadBalancer
