---
access_control:
  default_policy: deny
  rules:
    - domain: '*.serek.xyz'
      policy: one_factor
      subject:
        - group:sso
authentication_backend:
  ldap:
    address: ldap://lldap.security.svc.cluster.local:389
    base_dn: dc=serek,dc=xyz
    implementation: lldap
    user: uid=authelia,ou=people,dc=serek,dc=xyz
    users_filter: (&({username_attribute}={input})(objectClass=person))
  refresh_interval: 1m
identity_providers:
  oidc:
    clients:
      - authorization_policy: one_factor
        client_id: immich
        client_secret: '{{ .immichDigest }}'
        pre_configured_consent_duration: 1w
        redirect_uris:
          - https://immich.serek.xyz/auth/login
          - https://immich.serek.xyz/user-settings
          - app.immich:///oauth-callback
        token_endpoint_auth_method: client_secret_post
      - authorization_policy: one_factor
        client_id: '{{ .minioClient }}'
        client_name: Minio
        client_secret: '{{ .minioDigest }}'
        pre_configured_consent_duration: 1w
        redirect_uris:
          - https://minio.serek.xyz/oauth_callback
        scopes:
          - openid
          - profile
          - email
          - groups
      - authorization_policy: one_factor
        client_id: komodo
        client_secret: '{{ .komodoDigest }}'
        pkce_challenge_method: 'S256'
        pre_configured_consent_duration: 1w
        redirect_uris:
          - https://komodo.serek.xyz/auth/oidc/callback
        require_pkce: true
        scopes:
          - openid
          - profile
          - email
    cors:
      allowed_origins_from_client_redirect_uris: true
      endpoints: ["authorization", "token", "revocation", "introspection"]
notifier:
  disable_startup_check: true
  smtp:
    address: submissions://smtp.mail.me.com:587
    sender: Authelia <authelia@serek.xyz>
session:
  cookies:
    - authelia_url: https://sso.serek.xyz
      domain: serek.xyz
      name: serek_session
  expiration: 1h
  inactivity: 5m
  name: authelia_session
  redis:
    host: authelia-dragonfly.security.svc.cluster.local
  remember_me: 1 month
  same_site: lax
