---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authelia
spec:
  dataFrom:
    - extract:
        key: authelia
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: authelia-secret
    template:
      data:
        AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD: "{{ .ldapPass }}"
        AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET: "{{ .oidcSecret }}"
        AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY: "{{ .privatePem | b64dec }}"
        AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: "{{ .jwtSecret }}"
        AUTHELIA_SESSION_SECRET: "{{ .sessionSecret }}"
        AUTHELIA_STORAGE_ENCRYPTION_KEY: "{{ .encryptionKey }}"
        AUTHELIA_STORAGE_POSTGRES_ADDRESS: security-pg-rw.security.svc.cluster.local
        AUTHELIA_STORAGE_POSTGRES_DATABASE: authelia
        AUTHELIA_STORAGE_POSTGRES_PASSWORD: "{{ .dbPass }}"
        AUTHELIA_STORAGE_POSTGRES_USERNAME: "{{ .dbUser }}"
        IMMICH_DIGEST: "{{ .immichDigest }}"
        KOMODO_DIGEST: "{{ .komodoDigest }}"
        MINIO_CLIENT: "{{ .minioClient }}"
        MINIO_DIGEST: "{{ .minioDigest }}"
