---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authelia
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  dependsOn:
    - name: lldap
      namespace: security
  interval: 1h
  values:
    controllers:
      authelia:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              AUTHELIA_SERVER_DISABLE_HEALTHCHECK: "true"
              AUTHELIA_TELEMETRY_METRICS_ENABLED: "true"
              AUTHELIA_THEME: dark
              X_AUTHELIA_CONFIG: /config/config.yaml
              X_AUTHELIA_CONFIG_FILTERS: template
            envFrom:
              - secretRef:
                  name: authelia-secret
            image:
              repository: ghcr.io/authelia/authelia
              tag: 4.39.15@sha256:d23ee3c721d465b4749cc58541cda4aebe5aa6f19d7b5ce0afebb44ebee69591
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /api/health
                    port: &port 9091
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *probes
            resources:
              limits:
                memory: 128Mi
              requests:
                cpu: 10m
                memory: 32Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
        replicas: 2
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    persistence:
      config:
        globalMounts:
          - path: /config/config.yaml
            readOnly: true
            subPath: config.yaml
        name: authelia-configmap
        type: configMap
    route:
      app:
        hostnames:
          - sso.serek.xyz
        parentRefs:
          - name: envoy-external
            namespace: network
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
            primary: true
          metrics:
            port: 9959
    serviceMonitor:
      app:
        endpoints:
          - port: metrics
        serviceName: *app
