---
apiVersion: kustomize.config.k8s.io/v1beta1
configMapGenerator:
  - files:
      - config.yaml=./config.yaml
    name: authelia-configmap
  - files:
      - config.yaml=./config.yaml
    name: authelia-config-tpl
generatorOptions:
  disableNameSuffixHash: true
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
