---
# yaml-language-server: $schema=https://schemas.serek.xyz/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: flux-instance
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.37.0
  url: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-instance
---
# yaml-language-server: $schema=https://schemas.serek.xyz/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app flux-instance
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  dependsOn:
    - name: flux-operator
      namespace: flux-system
  interval: 1h
  values:
    instance:
      cluster:
        networkPolicy: false
      commonMetadata:
        labels:
          app.kubernetes.io/name: flux
      components:
        - source-controller
        - kustomize-controller
        - helm-controller
        - notification-controller
      distribution:
        artifact: oci://ghcr.io/controlplaneio-fluxcd/flux-operator-manifests:v0.37.0
        version: 2.x
      kustomize:
        patches:
          - # Increase the number of workers
            patch: |
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --concurrent=10
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --requeue-dependency=5s
            target:
              kind: Deployment
              name: (kustomize-controller|helm-controller|source-controller)
          - # Increase limits
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: all
              spec:
                template:
                  spec:
                    containers:
                      - name: manager
                        resources:
                          limits:
                            cpu: 2000m
                            memory: 2Gi
            target:
              kind: Deployment
              name: (kustomize-controller|helm-controller|source-controller)
          - # Enable in-memory kustomize builds
            patch: |
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --concurrent=20
              - op: replace
                path: /spec/template/spec/volumes/0
                value:
                  name: temp
                  emptyDir:
                    medium: Memory
            target:
              kind: Deployment
              name: kustomize-controller
          - # Enable Helm repositories caching
            patch: |
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --helm-cache-max-size=10
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --helm-cache-ttl=60m
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --helm-cache-purge-interval=5m
            target:
              kind: Deployment
              name: source-controller
          - # Cache Secrets and ConfigMaps
            patch: |-
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --feature-gates=CacheSecretsAndConfigMaps=true
            target:
              kind: Deployment
              name: source-controller
          - # Flux near OOM detection for Helm
            patch: |
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --feature-gates=OOMWatch=true
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --oom-watch-memory-threshold=95
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --oom-watch-interval=500ms
            target:
              kind: Deployment
              name: helm-controller
          - # Disable chart digest tracking
            patch: |-
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --feature-gates=DisableChartDigestTracking=true
            target:
              kind: Deployment
              name: helm-controller
          - # Watch configmaps and secrets attached to HelmReleases and Kustomizations
            patch: |-
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --watch-configs-label-selector=owner!=helm
            target:
              kind: Deployment
              name: (helm-controller|kustomize-controller)
          - # Cancel health checks on new Kustomizations revisions
            patch: |-
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --feature-gates=CancelHealthCheckOnNewRevision=true
            target:
              kind: Deployment
              name: kustomize-controller
      sync:
        interval: 10m
        kind: GitRepository
        name: home-kubernetes
        path: kubernetes/flux/cluster
        ref: refs/heads/main
        url: https://github.com/goochs/home-ops.git
