---
# yaml-language-server: $schema=https://schemas.serek.xyz/monitoring.coreos.com/prometheusrule_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: flux-instance-rules
spec:
  groups:
    - name: flux-instance.rules
      rules:
        - alert: FluxInstanceAbsent
          annotations:
            summary: >-
              Flux instance metric is missing
          expr: |-
            absent(flux_instance_info{exported_namespace="flux-system", name="flux"})
          for: 5m
          labels:
            severity: critical
        - alert: FluxInstanceNotReady
          annotations:
            summary: >-
              Flux instance {{ $labels.name }} is not ready
          expr: |-
            flux_instance_info{exported_namespace="flux-system", name="flux", ready!="True"}
          for: 5m
          labels:
            severity: critical
---
# yaml-language-server: $schema=https://schemas.serek.xyz/monitoring.coreos.com/podmonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: flux-components
spec:
  namespaceSelector:
    matchNames:
      - flux-system
  podMetricsEndpoints:
    - honorLabels: true
      port: http-prom
  selector:
    matchExpressions:
      - key: app.kubernetes.io/component
        operator: In
        values:
          - helm-controller
          - source-controller
          - kustomize-controller
          - notification-controller
