---
# yaml-language-server: $schema=https://schemas-xyz.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-cloudflare
spec:
  chartRef:
    kind: OCIRepository
    name: external-dns
  interval: 1h
  values:
    domainFilters:
      - serek.xyz
    env:
      - name: &name CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            key: *name
            name: &secret external-dns-cloudflare-secret
    extraArgs:
      - --cloudflare-dns-records-per-page=1000
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --ignore-ingress-tls-spec
      - --ingress-class=external
      - --gateway-name=envoy-external
      - --cloudflare-proxied
    fullnameOverride: *app
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
    policy: sync
    provider:
      name: cloudflare
    serviceMonitor:
      enabled: true
    sources:
      - crd
      - ingress
      - gateway-httproute
    triggerLoopOnEvent: true
    txtOwnerId: default
    txtPrefix: k8s.
