---
# yaml-language-server: $schema=https://schemas-xyz.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: cilium
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 1.18.4
  url: oci://ghcr.io/home-operations/charts-mirror/cilium
---
# yaml-language-server: $schema=https://schemas-xyz.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cilium
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    autoDirectNodeRoutes: true
    bandwidthManager:
      bbr: true
      enabled: true
    bgpControlPlane:
      enabled: true
    bpf:
      datapathMode: netkit
      masquerade: true # See https://github.com/siderolabs/talos/issues/8836 (forwardKubeDNSToHost)
      preallocateMaps: true
      tproxy: true
    cgroup:
      automount:
        enabled: false
      hostRoot: /sys/fs/cgroup
    cluster:
      id: 1
      name: home
    cni:
      exclusive: false
    dashboards:
      annotations:
        grafana_folder: Cilium
      enabled: true
    endpointRoutes:
      enabled: true
    hubble:
      enabled: true
      metrics:
        dashboards:
          annotations:
            grafana_folder: Cilium
          enabled: true
        enabled:
          - dns:query
          - drop
          - tcp
          - flow
          - port-distribution
          - icmp
          - http
        serviceMonitor:
          enabled: true
      relay:
        enabled: true
        prometheus:
          serviceMonitor:
            enabled: true
        rollOutPods: true
      ui:
        enabled: true
        rollOutPods: true
    ipam:
      mode: kubernetes
    ipv4NativeRoutingCIDR: 10.1.0.0/17
    k8sServiceHost: 127.0.0.1
    k8sServicePort: 7445
    kubeProxyReplacement: true
    kubeProxyReplacementHealthzBindAddr: "0.0.0.0:10256"
    l2announcements:
      enabled: false
    loadBalancer:
      algorithm: maglev
      mode: dsr
    localRedirectPolicy: true
    operator:
      dashboards:
        annotations:
          grafana_folder: Cilium
        enabled: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
      rollOutPods: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
        trustCRDsExist: true
    rollOutCiliumPods: true
    routingMode: native
    securityContext:
      capabilities:
        ciliumAgent:
          - BPF
          - CHOWN
          - DAC_OVERRIDE
          - FOWNER
          - IPC_LOCK
          - KILL
          - NET_ADMIN
          - NET_RAW
          - PERFMON
          - SETGID
          - SETUID
          - SYS_ADMIN
          - SYS_RESOURCE
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
