---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: descheduler
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: descheduler
  interval: 30m
  path: ./kubernetes/apps/kube-system/descheduler/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: kube-system
  timeout: 5m
  wait: false
