---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-operator
spec:
  interval: 1h
  path: ./kubernetes/apps/flux-system/flux-operator/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: flux-system
  wait: false
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-instance
spec:
  interval: 1h
  path: ./kubernetes/apps/flux-system/flux-operator/instance
  prune: false
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: flux-system
  wait: false
