---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app recyclarr
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      recyclarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            args: ["sync"]
            envFrom:
              - secretRef:
                  name: recyclarr-secret
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: 7.5.2@sha256:2550848d43a453f2c6adf3582f2198ac719f76670691d76de0819053103ef2fb
            resources:
              limits:
                memory: 256Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
        cronjob:
          backoffLimit: 0
          concurrencyPolicy: Forbid
          failedJobsHistory: 1
          schedule: 0 0 * * *
          successfulJobsHistory: 1
          ttlSecondsAfterFinished: 86400
        pod:
          restartPolicy: Never
        type: cronjob
    defaultPodOptions:
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    persistence:
      config:
        existingClaim: *app
      config-file:
        globalMounts:
          - path: /config/recyclarr.yml
            readOnly: true
            subPath: recyclarr.yml
        name: recyclarr-configmap
        type: configMap
      config-logs:
        globalMounts:
          - path: /config/logs
        type: emptyDir
      config-repositories:
        globalMounts:
          - path: /config/repositories
        type: emptyDir
      tmp:
        type: emptyDir
