---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: grafana
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 10.3.0
  url: oci://ghcr.io/grafana/helm-charts/grafana
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  chartRef:
    kind: OCIRepository
    name: grafana
  interval: 1h
  values:
    admin:
      existingSecret: grafana-admin-secret
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - disableDeletion: false
            editable: true
            folder: ""
            name: default
            options:
              path: /var/lib/grafana/dashboards/default
            orgId: 1
            type: file
    dashboards:
      default:
        ceph-cluster:
          datasource: Prometheus
          # renovate: depName="Ceph Cluster"
          gnetId: 2842
          revision: 18
        ceph-osd:
          datasource: Prometheus
          # renovate: depName="Ceph - OSD (Single)"
          gnetId: 5336
          revision: 9
        ceph-pools:
          datasource: Prometheus
          # renovate: depName="Ceph - Pools"
          gnetId: 5342
          revision: 9
        cert-manager:
          datasource: Prometheus
          url: https://grafana.com/api/dashboards/20842/revisions/3/download
        external-dns:
          datasource: Prometheus
          # renovate: depName="External-dns"
          gnetId: 15038
          revision: 3
        external-secrets:
          datasource: Prometheus
          url: https://raw.githubusercontent.com/external-secrets/external-secrets/main/docs/snippets/dashboard.json
        flux-cluster:
          datasource: Prometheus
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/cluster.json
        flux-control-plane:
          datasource: Prometheus
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/control-plane.json
        kubernetes-api-server:
          datasource: Prometheus
          # renovate: depName="Kubernetes / System / API Server"
          gnetId: 15761
          revision: 20
        kubernetes-coredns:
          datasource: Prometheus
          # renovate: depName="Kubernetes / System / CoreDNS"
          gnetId: 15762
          revision: 22
        kubernetes-global:
          datasource: Prometheus
          # renovate: depName="Kubernetes / Views / Global"
          gnetId: 15757
          revision: 43
        kubernetes-namespaces:
          datasource: Prometheus
          # renovate: depName="Kubernetes / Views / Namespaces"
          gnetId: 15758
          revision: 44
        kubernetes-nodes:
          datasource: Prometheus
          # renovate: depName="Kubernetes / Views / Nodes"
          gnetId: 15759
          revision: 40
        kubernetes-pods:
          datasource: Prometheus
          # renovate: depName="Kubernetes / Views / Pods"
          gnetId: 15760
          revision: 37
        kubernetes-volumes:
          datasource: Prometheus
          # renovate: depName="K8s / Storage / Volumes / Cluster"
          gnetId: 11454
          revision: 14
        mktxp-exporter:
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
          # renovate: depName="Mikrotik MKTXP Exporter"
          gnetId: 13679
          revision: 23
        node-exporter-full:
          datasource: Prometheus
          # renovate: depName="Node Exporter Full"
          gnetId: 1860
          revision: 42
        node-feature-discovery:
          datasource: Prometheus
          url: https://raw.githubusercontent.com/kubernetes-sigs/node-feature-discovery/master/examples/grafana-dashboard.json
        prometheus:
          datasource: Prometheus
          # renovate: depName="Prometheus"
          gnetId: 19105
          revision: 8
        smartctl-exporter:
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
          # renovate: depName="SMARTctl Exporter Dashboard"
          gnetId: 22604
          revision: 2
        volsync:
          datasource:
            - name: DS_PROMETHEUS
              value: Prometheus
            - name: VAR_REPLICATIONDESTNAME
              value: .*-dst
          # renovate: depName="VolSync Dashboard"
          gnetId: 21356
          revision: 3
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - access: proxy
            name: VictoriaLogs
            type: victoriametrics-logs-datasource
            url: http://victoria-logs-server.observability.svc.cluster.local:9428
          - access: proxy
            isDefault: true
            name: Prometheus
            type: prometheus
            uid: prometheus
            url: http://kube-prometheus-stack-prometheus.observability.svc.cluster.local:9090
          - access: proxy
            jsonData:
              implementation: prometheus
            name: Alertmanager
            type: alertmanager
            uid: alertmanager
            url: http://alertmanager-operated.observability.svc.cluster.local:9093
        deleteDatasources:
          - name: Prometheus
            orgId: 1
          - name: Alertmanager
            orgId: 1
    deploymentStrategy:
      type: Recreate
    env:
      GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
      GF_EXPLORE_ENABLED: true
      GF_SECURITY_ANGULAR_SUPPORT_ENABLED: true
      GF_SERVER_ROOT_URL: https://grafana.serek.xyz
    grafana.ini:
      analytics:
        check_for_plugin_updates: false
        check_for_updates: false
        reporting_enabled: false
      news:
        news_feed_enabled: false
    persistence:
      enabled: false
    plugins:
      - grafana-clock-panel
      - grafana-piechart-panel
      - grafana-worldmap-panel
      - victoriametrics-logs-datasource
    route:
      main:
        enabled: true
        hostnames:
          - grafana.serek.xyz
        parentRefs:
          - name: envoy-internal
            namespace: network
    serviceMonitor:
      enabled: true
    sidecar:
      dashboards:
        enabled: true
        folderAnnotation: grafana_folder
        label: grafana_dashboard
        provider:
          disableDelete: false
          foldersFromFilesStructure: true
        searchNamespace: ALL
      datasources:
        enabled: true
        labelValue: ""
        searchNamespace: ALL
    testFramework:
      enabled: false
