---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app emqx
spec:
  chart:
    spec:
      chart: emqx-operator
      sourceRef:
        kind: HelmRepository
        name: emqx
        namespace: flux-system
      version: 2.2.29
  dependsOn:
    - name: cert-manager
      namespace: network
  interval: 1h
  values:
    fullnameOverride: *app
    image:
      repository: ghcr.io/emqx/emqx-operator
