---
# yaml-language-server: $schema=https://schemas.serek.xyz/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &name immich-pg
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: "enabled"
spec:
  bootstrap:
    recovery:
      source: source
  enableSuperuserAccess: true
  externalClusters:
    - name: source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters: &parameters
          barmanObjectName: nas
          serverName: *name
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:18.0-0.5.3@sha256:ac600b6bc8fb2da6988a5fc4d37ab99db4d78ba13f51ef7c747fd8ff4690e940
  instances: 3
  managed:
    roles:
      - login: true
        name: immich
        passwordSecret:
          name: immich-pg-secret
  monitoring:
    enablePodMonitor: true
  plugins:
    - isWALArchiver: true
      name: barman-cloud.cloudnative-pg.io
      parameters: *parameters
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: 512MB
    shared_preload_libraries:
      - "vchord.so"
  primaryUpdateStrategy: unsupervised
  resources:
    limits:
      cpu: 1
      hugepages-1Gi: 1Gi
      memory: 2Gi
    requests:
      cpu: 1
      hugepages-1Gi: 1Gi
      memory: 2Gi
  storage:
    size: 20Gi
    storageClass: openebs-hostpath
  superuserSecret:
    name: immich-admin-pg-secret
