---
# yaml-language-server: $schema=https://schemas.serek.xyz/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-pg
spec:
  bootstrap:
    recovery:
      source: source
  enableSuperuserAccess: true
  externalClusters:
    - name: source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: minio
          serverName: immich-pg-v5
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:17.6-0.5.3@sha256:20c1767e6b271f18cbff3fd65a8e550cdd314114aa7e46fd3abb483cb37bbdd1
  instances: 3
  managed:
    roles:
      - login: true
        name: immich
        passwordSecret:
          name: immich-pg-secret
  monitoring:
    enablePodMonitor: true
  plugins:
    - isWALArchiver: true
      name: barman-cloud.cloudnative-pg.io
      parameters:
        barmanObjectName: minio
        serverName: immich-pg-v6
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: 512MB
    shared_preload_libraries:
      - "vchord.so"
  primaryUpdateStrategy: unsupervised
  resources:
    limits:
      cpu: 1
      hugepages-1Gi: 1Gi
      memory: 2Gi
    requests:
      cpu: 1
      hugepages-1Gi: 1Gi
      memory: 2Gi
  storage:
    size: 20Gi
    storageClass: openebs-hostpath
  superuserSecret:
    name: immich-admin-pg-secret
