---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-pg
spec:
  backup:
    barmanObjectStore: &barmanObjectStore
      data:
        compression: bzip2
      destinationPath: s3://cnpg/
      endpointURL: https://s3.serek.xyz
      s3Credentials:
        accessKeyId:
          key: s3-access-key
          name: immich-admin-pg-secret
        secretAccessKey:
          key: s3-secret-key
          name: immich-admin-pg-secret
      serverName: &currentCluster immich-pg-v4
      wal:
        compression: bzip2
        maxParallel: 8
    retentionPolicy: 30d
  bootstrap:
    recovery:
      source: &previousCluster immich-pg-v3
  enableSuperuserAccess: true
  externalClusters:
    - barmanObjectStore:
        !!merge <<: *barmanObjectStore
        serverName: *previousCluster
      name: *previousCluster
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:17.5-0.3.0
  instances: 3
  managed:
    roles:
      - login: true
        name: immich
        passwordSecret:
          name: immich-pg-secret
  monitoring:
    enablePodMonitor: true
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: 512MB
    shared_preload_libraries:
      - "vchord.so"
  primaryUpdateStrategy: unsupervised
  resources:
    limits:
      cpu: 1
      hugepages-2Mi: 512Mi
      memory: 2Gi
    requests:
      cpu: 1
      hugepages-2Mi: 512Mi
      memory: 2Gi
  storage:
    size: 20Gi
    storageClass: openebs-hostpath
  superuserSecret:
    name: immich-admin-pg-secret
