---
apiVersion: postgresql.cnpg.io/v1
kind: Database
metadata:
  name: immich
spec:
  cluster:
    name: immich-pg
  extensions:
    - ensure: present
      name: vector
    - ensure: present
      name: vchord
    - ensure: present
      name: earthdistance
    - ensure: present
      name: cube
  name: immich
  owner: immich
