apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: nas
spec:
  configuration:
    data:
      compression: bzip2
    destinationPath: s3://cnpg/
    endpointURL: https://versity.serek.xyz
    s3Credentials:
      accessKeyId:
        key: s3-access-key
        name: immich-admin-pg-secret
      secretAccessKey:
        key: s3-secret-key
        name: immich-admin-pg-secret
    wal:
      compression: bzip2
      maxParallel: 8
  retentionPolicy: 30d
