---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app appdaemon
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      appdaemon:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              DASH_URL: "http://0.0.0.0:5050"
              HA_URL: "http://home-assistant.default.svc.cluster.local:8123"
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: appdaemon-secret
            image:
              repository: docker.io/acockburn/appdaemon
              tag: 4.5.12@sha256:8f2babc1e73d78bef2d7f5f7198527c5b18eb9fe8cc277698741bae87f348f4f
            resources:
              limits:
                memory: 4Gi
              requests:
                cpu: 100m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    persistence:
      config:
        existingClaim: home-assistant
        globalMounts:
          - path: /home-assistant
            readOnly: false
          - path: /conf
            readOnly: false
            subPath: appdaemon
      tmp:
        type: emptyDir
    route:
      app:
        hostnames:
          - appdaemon.serek.xyz
        parentRefs:
          - name: envoy-internal
            namespace: network
    service:
      app:
        controller: *app
        ports:
          http:
            port: 5050
