---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Provider
metadata:
  name: alertmanager
spec:
  address: http://alertmanager-operated.observability.svc.cluster.local:9093/api/v2/alerts/
  type: alertmanager
