---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns-cloudflare
spec:
  dependsOn:
    - name: external-secrets-stores
      namespace: security
  interval: 1h
  path: ./kubernetes/apps/network/external-dns/cloudflare
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: network
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns-mikrotik
spec:
  dependsOn:
    - name: external-secrets-stores
      namespace: security
  interval: 1h
  path: ./kubernetes/apps/network/external-dns/mikrotik
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: network
  wait: true
