---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Provider
metadata:
  name: github
spec:
  address: https://github.com/goochs/home-ops
  secretRef:
    name: github-token-secret
  type: github
