---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
spec:
  chart:
    spec:
      chart: reloader
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
      version: 2.2.5
  interval: 1h
  values:
    fullnameOverride: reloader
    reloader:
      deployment:
        replicas: 2
      enableHA: true
      podMonitor:
        enabled: true
        namespace: '{{ .Release.Namespace }}'
      readOnlyRootFileSystem: true
