---
# yaml-language-server: $schema=https://schemas.serek.xyz/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app immich
spec:
  components:
    - ../../../../components/gatus/external
  dependsOn:
    - name: external-secrets-stores
      namespace: security
    - name: immich-pg
      namespace: default
    - name: immich-dragonfly
      namespace: default
  interval: 1h
  path: ./kubernetes/apps/default/immich/app
  postBuild:
    substitute:
      APP: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: default
  wait: false
---
# yaml-language-server: $schema=https://schemas.serek.xyz/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich-pg
spec:
  dependsOn:
    - name: external-secrets-stores
      namespace: security
    - name: cloudnative-pg
      namespace: database
  interval: 1h
  path: ./kubernetes/apps/default/immich/db
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: default
  wait: true
---
# yaml-language-server: $schema=https://schemas.serek.xyz/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich-dragonfly
spec:
  dependsOn:
    - name: dragonfly-operator
      namespace: database
  interval: 1h
  path: ./kubernetes/apps/default/immich/dragonfly
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: default
  wait: true
