---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app gatus
spec:
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 4.4.0
  install:
    remediation:
      retries: 3
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    controllers:
      gatus:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              GATUS_CONFIG_PATH: /config
              GATUS_DELAY_START_SECONDS: 5
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: gatus-secret
            image:
              repository: ghcr.io/twin/gatus
              tag: v5.30.0@sha256:bab5a31cb3cfde7fd9913a5ff97652883e4db08f3b429a62a7a188c746df4219
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /health
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *probes
            resources:
              limits:
                memory: 500Mi
              requests:
                cpu: 100m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
        initContainers:
          init-config:
            env:
              FOLDER: /config
              HEALTH_PORT: &initport 8081
              LABEL: gatus.io/enabled
              METHOD: WATCH
              NAMESPACE: ALL
              RESOURCE: both
              UNIQUE_FILENAMES: true
            image:
              repository: ghcr.io/home-operations/k8s-sidecar
              tag: 2.0.3@sha256:59f017b06b4a21a83f7e9a80952e81635563155346a7827c891ce9e02c1ebe15
            probes:
              liveness: &initprobes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /healthz
                    port: *initport
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *initprobes
            resources:
              limits:
                memory: 500Mi
              requests:
                cpu: 10m
            restartPolicy: Always
        serviceAccount:
          identifier: *app
    defaultPodOptions:
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    ingress:
      app:
        className: internal
        hosts:
          - host: status.serek.xyz
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        type: emptyDir
      config-file:
        globalMounts:
          - path: /config/config.yaml
            readOnly: true
            subPath: config.yaml
        name: gatus-configmap
        type: configMap
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    serviceAccount:
      gatus: {}
    serviceMonitor:
      app:
        endpoints:
          - interval: 1m
            path: /metrics
            port: http
            scheme: http
            scrapeTimeout: 10s
        serviceName: gatus
