---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: komodo-pg
spec:
  backupOwnerReference: self
  cluster:
    name: komodo-pg
  immediate: true
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
  schedule: "@daily"
