---
apiVersion: v1
kind: Service
metadata:
  annotations:
    lbipam.cilium.io/ips: 10.0.41.46
  name: komodo-pg
spec:
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: komodo-pg
    cnpg.io/instanceRole: primary
  type: LoadBalancer
