---
# yaml-language-server: $schema=https://schemas-xyz.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: openebs
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 4.3.3
  url: oci://ghcr.io/home-operations/charts-mirror/openebs
---
# yaml-language-server: $schema=https://schemas-xyz.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app openebs
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    alloy:
      enabled: false
    engines:
      local:
        lvm:
          enabled: false
        zfs:
          enabled: false
      replicated:
        mayastor:
          enabled: false
    localpv-provisioner:
      analytics:
        enabled: false
      helperPod:
        image:
          registry: quay.io/
      hostpathClass:
        basePath: &hostPath /var/mnt/extra/openebs/hostpath
        enabled: true
        isDefaultClass: false
        name: openebs-hostpath
      localpv:
        basePath: *hostPath
        image:
          registry: quay.io/
    loki:
      enabled: false
    lvm-localpv:
      enabled: false
    mayastor:
      enabled: false
    minio:
      enabled: false
    openebs-crds:
      csi:
        volumeSnapshots:
          enabled: false
          keep: false
    preUpgradeHook:
      enabled: false
    zfs-localpv:
      enabled: false
