---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snapshot-controller
spec:
  chart:
    spec:
      chart: *app
      sourceRef:
        kind: HelmRepository
        name: piraeus
        namespace: flux-system
      version: 4.2.0
  interval: 1h
  values:
    controller:
      replicaCount: 2
      serviceMonitor:
        create: true
