---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr
spec:
  dataFrom:
    - extract:
        key: prowlarr
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: prowlarr-secret
    template:
      data:
        PROWLARR__AUTH__APIKEY: "{{ .apiKey }}"
        PROWLARR__POSTGRES__HOST: postgres16-rw.database.svc.cluster.local
        PROWLARR__POSTGRES__LOGDB: prowlarr-log
        PROWLARR__POSTGRES__MAINDB: prowlarr-main
        PROWLARR__POSTGRES__PASSWORD: "{{ .dbPass }}"
        PROWLARR__POSTGRES__PORT: "5432"
        PROWLARR__POSTGRES__USER: "{{ .dbUser }}"
