---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app trunk-processor
spec:
  components:
    - ../../../../components/gatus/internal
  dependsOn:
    - name: external-secrets-stores
      namespace: security
  interval: 1h
  path: ./kubernetes/apps/default/trunk-processor/app
  postBuild:
    substitute:
      APP: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: default
  wait: false
