---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: security-pg
spec:
  dependsOn:
    - name: cloudnative-pg
      namespace: database
  interval: 1h
  path: ./kubernetes/apps/security/postgres/cluster
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: security
  wait: true
