---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app speaches
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      speaches:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              ENABLE_UI: "False"
              HF_HUB_CACHE: /models
              TZ: America/New_York
              UVICORN_PORT: &port 80
              WHISPER__CPU_THREADS: 8
              WHISPER__NUM_WORKERS: 2
              WHISPER__USE_BATCHED_MODE: "True"
            image:
              repository: ghcr.io/speaches-ai/speaches
              tag: 0.8.3-cpu@sha256:1d4f852ff5b148d675bcd751f414835c0bcef2541c1df8ffdeb43714968aafe6
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *probes
            resources:
              limits:
                memory: 20Gi
              requests:
                cpu: 1
                memory: 10Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
        replicas: 3
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    persistence:
      models:
        path: /mnt/flash/scratch/speaches
        server: 10.0.30.40
        type: nfs
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.serek.xyz"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
