---
# yaml-language-server: $schema=https://schemas.serek.xyz/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: silence-operator
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.20.0
  url: oci://gsoci.azurecr.io/charts/giantswarm/silence-operator
---
# yaml-language-server: $schema=https://schemas.serek.xyz/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app silence-operator
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    alertmanagerAddress: http://vmalertmanager-vm-stack.observability.svc.cluster.local:9093
    crds:
      install: true
    networkPolicy:
      enabled: false
