[[server]]
name = "nas"
[server.config]
address = "https://nas.serek.xyz:8120"
enabled = true
stats_monitoring = false

[[server]]
name = "rdio"
[server.config]
address = "https://10.0.10.123:8120"
enabled = true
stats_monitoring = false
