---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app lldap
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/gatus/internal
  dependsOn:
    - name: external-secrets-stores
      namespace: security
    - name: security-pg
      namespace: security
  interval: 30m
  path: ./kubernetes/apps/security/lldap/app
  postBuild:
    substitute:
      APP: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: security
  timeout: 5m
  wait: false
