---
# yaml-language-server: $schema=https://schemas-xyz.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app lldap
spec:
  components:
    - ../../../../components/gatus/internal
  dependsOn:
    - name: external-secrets-stores
      namespace: security
    - name: security-pg
      namespace: security
  interval: 1h
  path: ./kubernetes/apps/security/lldap/app
  postBuild:
    substitute:
      APP: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: security
  wait: false
