---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mktxp-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      mktxp-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            command: ["mktxp"]
            args: ["--cfg-dir", "/config", "export"]
            env:
              TZ: America/New_York
            image:
              repository: ghcr.io/akpw/mktxp
              tag: 1.2.16@sha256:f866f423bc9bf97b39f8ffc10891170908be86c459d985b01ae17aa2beda30f9
            resources:
              limits:
                memory: 512Mi
              requests:
                cpu: 500m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
    persistence:
      config:
        name: mktxp-exporter-secret
        type: secret
    service:
      app:
        controller: *app
        ports:
          http:
            port: 49090
    serviceMonitor:
      app:
        endpoints:
          - interval: 15s
            path: /metrics
            port: http
            scheme: http
            scrapeTimeout: 15s
        serviceName: *app
