---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bazarr
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      bazarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: bazarr-secret
            image:
              repository: ghcr.io/home-operations/bazarr
              tag: 1.5.3@sha256:30783ea74fe6c2392d3eb40ada1781028458ea492f5ba42272bb45a4af02856c
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /health
                    port: &port 6767
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *probes
            resources:
              limits:
                memory: 2Gi
              requests:
                cpu: 50m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 568
        runAsNonRoot: true
        runAsUser: 568
        seccompProfile: {type: RuntimeDefault}
    ingress:
      app:
        className: internal
        hosts:
          - host: "{{ .Release.Name }}.serek.xyz"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      cache:
        globalMounts:
          - path: /config/cache
        type: emptyDir
      config:
        existingClaim: *app
      log:
        globalMounts:
          - path: /config/log
        type: emptyDir
      media:
        globalMounts:
          - path: /media
        path: /mnt/tank/media
        server: 10.0.30.40
        type: nfs
      tmp:
        type: emptyDir
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
