---
# yaml-language-server: $schema=https://schemas-xyz.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app system-upgrade-controller
spec:
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: *app
      namespace: &namespace system-upgrade
  interval: 1h
  path: ./kubernetes/apps/system-upgrade/controller/app
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: *namespace
---
# yaml-language-server: $schema=https://schemas-xyz.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: system-upgrade-controller-plans
spec:
  dependsOn:
    - name: system-upgrade-controller
      namespace: system-upgrade
  interval: 1h
  path: ./kubernetes/apps/system-upgrade/controller/plans
  postBuild:
    substitute:
      # renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
      KUBERNETES_VERSION: v1.34.2
      # renovate: datasource=docker depName=ghcr.io/siderolabs/installer
      TALOS_VERSION: v1.11.5
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: system-upgrade
  wait: false
