---
# yaml-language-server: $schema=https://schemas.serek.xyz/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: cert-manager
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: v1.19.2
  url: oci://quay.io/jetstack/charts/cert-manager
---
# yaml-language-server: $schema=https://schemas.serek.xyz/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cert-manager
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    crds:
      enabled: true
    dns01RecursiveNameservers: 1.1.1.1:53,9.9.9.9:53
    dns01RecursiveNameserversOnly: true
    podDnsConfig:
      nameservers:
        - 1.1.1.1
        - 9.9.9.9
    podDnsPolicy: None
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
    webhook:
      podDisruptionBudget:
        enabled: true
      replicaCount: 2
