---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app komodo
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      komodo:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/moghtech/komodo-core
              tag: 1.19.5@sha256:a471706a65cab8093cc8ef97f064e6fca0575d118435914c14c3a6aa055cee93
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    persistence:
      action-cache:
        type: emptyDir
      config:
        globalMounts:
          - path: /config/config.toml
            readOnly: true
            subPath: config.toml
        name: komodo-secret
        type: secret
      state:
        existingClaim: *app
        globalMounts:
          - path: /syncs
            subPath: syncs
          - path: /backups
            subPath: backups
          - path: /repo-cache
            subPath: repo-cache
    route:
      app:
        hostnames:
          - komodo.serek.xyz
        parentRefs:
          - name: envoy-internal
            namespace: network
    service:
      komodo:
        controller: *app
        ports:
          http:
            port: 9120
