---
apiVersion: kustomize.config.k8s.io/v1beta1
configMapGenerator:
  - files:
      - config.toml=./config.toml
    name: komodo-config-tpl
generatorOptions:
  disableNameSuffixHash: true
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
