---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: onepass-connect
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: onepass-connect
  interval: 30m
  path: ./kubernetes/apps/security/onepass-connect/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: security
  timeout: 5m
  wait: true
