---
# yaml-language-server: $schema=https://schemas.serek.xyz/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: mc-router
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 1.4.0
  url: oci://ghcr.io/itzg/minecraft-server-charts/mc-router
---
# yaml-language-server: $schema=https://schemas.serek.xyz/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mc-router
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    image:
      pullPolicy: IfNotPresent
      repository: ghcr.io/itzg/mc-router
      tag: 1.39.1@sha256:be109433f1a67a6d925d93842018ae4d9dcb37f9df5ef3b246925343782233ab
    services:
      minecraft:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: homestead.serek.xyz
          lbipam.cilium.io/ips: 10.0.41.71
        type: LoadBalancer
