---
apiVersion: v1
data:
  config.yaml: |
    endpoints:
      - name: mosquitto
        group: infrastructure
        url: tcp://mosquitto.database.svc.cluster.local:1883
        interval: 1m
        ui:
          hide-url: true
          hide-hostname: true
        conditions:
          - "[CONNECTED] == true"
        alerts:
          - type: pushover
kind: ConfigMap
metadata:
  labels:
    gatus.io/enabled: "true"
  name: mosquitto-gatus-ep
