---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: z2m
spec:
  dataFrom:
    - extract:
        key: zigbee
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: z2m-secret
    template:
      data:
        ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID: "{{ .extPanId }}"
        ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY: "{{ .networkKey }}"
        ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID: "{{ .shortPanId }}"
