---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ddns
spec:
  dataFrom:
    - extract:
        key: cloudflare
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: ddns-secret
    template:
      data:
        CONFIG: >
          {"settings":[{"provider":"cloudflare","zone_identifier":"5e1fb2d2d9e5f1a02af948f9ea832baf","domain":"external.serek.xyz","ttl":1,"token":"{{ .apiToken }}","proxied":true,"ip_version":"ipv4"},{"provider":"cloudflare","zone_identifier":"5e1fb2d2d9e5f1a02af948f9ea832baf","domain":"ipv4.serek.xyz","ttl":1,"token":"{{ .apiToken }}","proxied":false,"ip_version":"ipv4"}]}
