---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ddns
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      ddns:
        containers:
          app:
            envFrom:
              - secretRef:
                  name: ddns-secret
            image:
              repository: ghcr.io/qdm12/ddns-updater
              tag: 2.9.0@sha256:ed73f1fb7ab54a8a8fa26001eecc77cc8be56cdf3fb0ca91fee831124bcbb696
            resources:
              limits:
                memory: 200Mi
              requests:
                cpu: 100m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
        seccompProfile: {type: RuntimeDefault}
    ingress:
      app:
        className: internal
        hosts:
          - host: "{{ .Release.Name }}.serek.xyz"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      updater:
        globalMounts:
          - path: /updater/data
            readOnly: false
        type: emptyDir
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8000
