---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  chart:
    spec:
      chart: cert-manager
      sourceRef:
        kind: HelmRepository
        name: jetstack
        namespace: flux-system
      version: v1.19.1
  interval: 1h
  values:
    dns01RecursiveNameservers: 1.1.1.1:53,9.9.9.9:53
    dns01RecursiveNameserversOnly: true
    installCRDs: true
    podDnsConfig:
      nameservers:
        - 1.1.1.1
        - 9.9.9.9
    podDnsPolicy: None
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
