---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
spec:
  chart:
    spec:
      chart: cloudnative-pg
      sourceRef:
        kind: HelmRepository
        name: cloudnative-pg
        namespace: flux-system
      version: 0.26.1
  dependsOn:
    - name: openebs
      namespace: storage
  interval: 1h
  values:
    crds:
      create: true
    monitoring:
      grafanaDashboard:
        create: true
      podMonitorEnabled: true
    replicaCount: 2
