---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      paperless:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            env:
              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_CONSUMPTION_DIR: /data/nas/incoming
              PAPERLESS_DATA_DIR: /data/local/data
              PAPERLESS_DBENGINE: postgresql
              PAPERLESS_DBHOST: postgres16-rw.database.svc.cluster.local
              PAPERLESS_DBNAME: paperless
              PAPERLESS_DBPORT: "5432"
              PAPERLESS_DB_POOLSIZE: "40"
              PAPERLESS_EMPTY_TRASH_DIR: /data/nas/trash
              PAPERLESS_EXPORT_DIR: /data/nas/export
              PAPERLESS_MEDIA_ROOT: /data/nas/media
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_PORT: "8000"
              PAPERLESS_REDIS: redis://paperless-redis.default.svc.cluster.local:6379
              PAPERLESS_TASK_WORKERS: "2"
              PAPERLESS_TIME_ZONE: America/New_York
              PAPERLESS_URL: https://paperless.serek.xyz
              PAPERLESS_WEBSERVER_WORKERS: "2"
              USERMAP_GID: "1000"
            envFrom:
              - secretRef:
                  name: paperless-secret
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.4@sha256:0dd610e06781c9ffafe413eaccdacd7305bcba54ab3457fe080ed3071315e27c
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 25m
                memory: 2Gi
        forceRename: *app
      redis:
        containers:
          redis:
            image:
              repository: ghcr.io/valkey-io/valkey
              tag: 9.0.1
            resources:
              limits:
                memory: 128Mi
              requests:
                cpu: 5m
                memory: 32Mi
    persistence:
      data:
        advancedMounts:
          paperless:
            app:
              - path: /data/local
        existingClaim: *app
      nas:
        advancedMounts:
          paperless:
            app:
              - path: /data/nas
        path: /mnt/tank/apps/paperless
        server: 10.0.30.40
        type: nfs
    route:
      app:
        hostnames:
          - paperless.serek.xyz
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: http
    service:
      app:
        controller: *app
        forceRename: *app
        ports:
          http:
            port: 8000
        primary: true
      redis:
        controller: redis
        ports:
          http:
            port: 6379
