---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      gotenberg:
        containers:
          gotenberg:
            args:
              - "--chromium-disable-javascript=true"
              - "--chromium-allow-list=file:///tmp/.*"
            command: ["gotenberg"]
            image:
              repository: docker.io/gotenberg/gotenberg
              tag: 8.25.1@sha256:f9104080d9a7ecab253fb5ebe75100329cf5699c33ec0448f2ea02d885dfde4b
            resources:
              limits:
                memory: 1Gi
              requests:
                cpu: 200m
                memory: 200Mi
      paperless:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            env:
              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_CONSUMPTION_DIR: /data/nas/incoming
              PAPERLESS_DATA_DIR: /data/local/data
              PAPERLESS_DBENGINE: postgresql
              PAPERLESS_DBHOST: postgres16-rw.database.svc.cluster.local
              PAPERLESS_DBNAME: paperless
              PAPERLESS_DBPORT: "5432"
              PAPERLESS_DB_POOLSIZE: "40"
              PAPERLESS_EMPTY_TRASH_DIR: /data/nas/trash
              PAPERLESS_EXPORT_DIR: /data/nas/export
              PAPERLESS_MEDIA_ROOT: /data/nas/media
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_PORT: "8000"
              PAPERLESS_REDIS: redis://paperless-redis.default.svc.cluster.local:6379
              PAPERLESS_TASK_WORKERS: "2"
              PAPERLESS_TIKA_ENABLED: "true"
              PAPERLESS_TIKA_ENDPOINT: http://paperless-tika.default.svc.cluster.local:9998
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://paperless-gotenberg.default.svc.cluster.local:3000
              PAPERLESS_TIME_ZONE: America/New_York
              PAPERLESS_URL: https://paperless.serek.xyz
              PAPERLESS_WEBSERVER_WORKERS: "2"
            envFrom:
              - secretRef:
                  name: paperless-secret
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.5@sha256:f3bfc0397f8fba864fe3e74883481b653f416807179399fbf13e74e85baefa6e
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 25m
                memory: 2Gi
        forceRename: *app
      redis:
        containers:
          redis:
            image:
              repository: ghcr.io/valkey-io/valkey
              tag: 9.0.1@sha256:2acd71cda5cd2b664d65ba3d758a9fb69df2e2b40fcc1795d501e6561965f7ef
            resources:
              limits:
                memory: 128Mi
              requests:
                cpu: 5m
                memory: 32Mi
      tika:
        containers:
          tika:
            image:
              repository: docker.io/apache/tika
              tag: 3.2.3.0@sha256:c0154cb95587cde64be74f35ada1a2bd7892219f3f0ac3c9dc6cab34046b3573
            resources:
              limits:
                memory: 2Gi
              requests:
                cpu: 100m
                memory: 200Mi
    persistence:
      data:
        advancedMounts:
          paperless:
            main:
              - path: /data/local
        existingClaim: *app
      nas:
        advancedMounts:
          paperless:
            main:
              - path: /data/nas
        path: /mnt/tank/apps/paperless
        server: 10.0.30.40
        type: nfs
    route:
      app:
        hostnames:
          - paperless.serek.xyz
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: http
    service:
      app:
        controller: *app
        forceRename: *app
        ports:
          http:
            port: 8000
        primary: true
      gotenberg:
        controller: gotenberg
        ports:
          http:
            port: 3000
      redis:
        controller: redis
        ports:
          http:
            port: 6379
      tika:
        controller: tika
        ports:
          http:
            port: 9998
