---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-secrets
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: external-secrets
  interval: 30m
  path: ./kubernetes/apps/security/external-secrets/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: security
  timeout: 5m
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-secrets-stores
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: external-secrets-stores
  dependsOn:
    - name: external-secrets
      namespace: security
    - name: onepass-connect
      namespace: security
  interval: 30m
  path: ./kubernetes/apps/security/external-secrets/stores
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: security
  timeout: 5m
  wait: true
