---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app trunk-processor
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      trunk-processor:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              AWS_ENDPOINT: https://versity.serek.xyz:443
              BUCKET_NAME: trunk-recorder
              MODEL_NAME: Systran/faster-whisper-medium.en
              TRANSCRIPTION_ENDPOINT: http://speaches.default.svc.cluster.local/v1/audio/transcriptions
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: trunk-processor-secret
            image:
              repository: ghcr.io/goochs/trunk-processor
              tag: v0.0.2@sha256:d4d3b6ab7203fa4493570b7f2ca55d55bbead3f72477cf5566191a2b22032a42
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /healthz
                    port: &port 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *probes
            resources:
              limits:
                memory: 1500Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
        replicas: 2
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.serek.xyz"
        parentRefs:
          - name: envoy-internal
            namespace: network
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
