---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kromgo
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      kromgo:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              HEALTH_PORT: &healthPort 8080
              PROMETHEUS_URL: http://vmsingle-vm-stack.observability.svc.cluster.local:8428
              SERVER_PORT: &serverPort 80
            image:
              repository: ghcr.io/kashalls/kromgo
              tag: v0.7.5@sha256:25df18d426e19aafa7526cd9138a6f35ca73c6ef6fcfcf9de8971c4334f6efdf
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /readyz
                    port: *healthPort
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *probes
            resources:
              limits:
                memory: 500Mi
              requests:
                cpu: 100m
                memory: 100Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
        replicas: 2
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
        seccompProfile: {type: RuntimeDefault}
    persistence:
      config-file:
        globalMounts:
          - path: /kromgo/config.yaml
            readOnly: true
            subPath: config.yaml
        name: kromgo-configmap
        type: configMap
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.serek.xyz"
        parentRefs:
          - name: envoy-external
            namespace: network
    service:
      app:
        controller: *app
        ports:
          health:
            port: *healthPort
          http:
            port: *serverPort
            primary: true
