---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &name metrics-server
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *name
  interval: 30m
  path: ./kubernetes/apps/kube-system/metrics-server/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: kube-system
  timeout: 5m
  wait: false
