---
# yaml-language-server: $schema=https://schemas.serek.xyz/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: intel-device-plugin-operator
spec:
  interval: 1h
  path: ./kubernetes/apps/kube-system/intel-device-plugins/operator
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: kube-system
  wait: false
---
# yaml-language-server: $schema=https://schemas.serek.xyz/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: intel-device-plugin-gpu
spec:
  interval: 1h
  path: ./kubernetes/apps/kube-system/intel-device-plugins/gpu
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: kube-system
  wait: false
