---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dragonfly-operator
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      dragonfly-operator:
        containers:
          app:
            args:
              - --health-probe-bind-address=:8081
              - --metrics-bind-address=:8080
            command: ["/manager"]
            image:
              repository: ghcr.io/dragonflydb/operator
              tag: v1.4.0@sha256:b6ceebe49d4687a4fc3e485724a0cfcf0ca2dfba1d5508375543b8db46a66fc1
            probes:
              liveness:
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /healthz
                    port: &port 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                  timeoutSeconds: 1
              readiness:
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /readyz
                    port: *port
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 1
            resources:
              limits:
                memory: 128Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
        replicas: 1
        serviceAccount:
          identifier: *app
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    rbac:
      bindings:
        dragonfly-operator:
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: ClusterRole
            name: dragonfly-operator
          subjects:
            - kind: ServiceAccount
              name: dragonfly-operator
              namespace: database
          type: ClusterRoleBinding
      roles:
        dragonfly-operator:
          rules:
            - apiGroups: [""]
              resources: ["events"]
              verbs: ["create", "patch"]
            - apiGroups: [""]
              resources: ["pods", "services"]
              verbs: ["create", "delete", "get", "list", "patch", "update", "watch"]
            - apiGroups: ["apps"]
              resources: ["statefulsets"]
              verbs: ["create", "delete", "get", "list", "patch", "update", "watch"]
            - apiGroups: ["dragonflydb.io"]
              resources: ["dragonflies"]
              verbs: ["create", "delete", "get", "list", "patch", "update", "watch"]
            - apiGroups: ["dragonflydb.io"]
              resources: ["dragonflies/finalizers"]
              verbs: ["update"]
            - apiGroups: ["dragonflydb.io"]
              resources: ["dragonflies/status"]
              verbs: ["get", "patch", "update"]
            - apiGroups: ["policy"]
              resources: ["poddisruptionbudgets"]
              verbs: ["create", "delete", "get", "list", "patch", "update", "watch"]
          type: ClusterRole
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
          metrics:
            port: 8080
    serviceAccount:
      dragonfly-operator: {}
    serviceMonitor:
      app:
        endpoints:
          - interval: 1m
            path: /metrics
            port: metrics
            scheme: http
            scrapeTimeout: 10s
        serviceName: *app
