---
# yaml-language-server: $schema=https://schemas.serek.xyz/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: snmp-exporter
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 9.8.2
  url: oci://ghcr.io/prometheus-community/charts/prometheus-snmp-exporter
---
# yaml-language-server: $schema=https://schemas.serek.xyz/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snmp-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  dependsOn:
    - name: kube-prometheus-stack
      namespace: observability
  interval: 1h
  values:
    fullnameOverride: *app
    serviceMonitor:
      enabled: true
      params:
        - auth: ["public_v2"]
          module: ["mikrotik"]
          name: ccr2004
          target: 10.0.30.1
        - auth: ["public_v2"]
          module: ["mikrotik"]
          name: crs317
          target: 10.0.30.2
        - auth: ["public_v2"]
          module: ["mikrotik"]
          name: hap-ax2
          target: 10.0.30.5
      path: /snmp
      relabelings:
        - {sourceLabels: ["__param_target"], targetLabel: instance}
      scrapeTimeout: 15s
