---
# yaml-language-server: $schema=https://schemas.serek.xyz/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &name security-pg
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: "enabled"
spec:
  bootstrap:
    recovery:
      source: source
  enableSuperuserAccess: true
  externalClusters:
    - name: source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters: &parameters
          barmanObjectName: nas
          serverName: *name
  imageName: ghcr.io/cloudnative-pg/postgresql:16.11-system-trixie@sha256:9fd00c271f26246cb4baea013ab2cf8840a8fd0591bd89f42260f06f7dba2440
  instances: 3
  managed:
    roles:
      - login: true
        name: lldap
        passwordSecret:
          name: lldap-pg-secret
      - login: true
        name: authelia
        passwordSecret:
          name: authelia-pg-secret
  monitoring:
    enablePodMonitor: true
  plugins:
    - isWALArchiver: true
      name: barman-cloud.cloudnative-pg.io
      parameters: *parameters
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: 512MB
  primaryUpdateStrategy: unsupervised
  resources:
    limits:
      cpu: 1
      hugepages-1Gi: 1Gi
      memory: 2Gi
    requests:
      cpu: 1
      hugepages-1Gi: 1Gi
      memory: 2Gi
  storage:
    size: 20Gi
    storageClass: openebs-hostpath
  superuserSecret:
    name: security-pg-secret
