---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: security-pg
spec:
  bootstrap:
    recovery:
      source: source
  enableSuperuserAccess: true
  externalClusters:
    - name: source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: minio
          serverName: security-pg-v5
  imageName: ghcr.io/cloudnative-pg/postgresql:16.6@sha256:d7822fa6eba284a6d3d035d51a51de22147bc5e72d87aa93e7dd9fa87455ed5c
  instances: 3
  managed:
    roles:
      - login: true
        name: lldap
        passwordSecret:
          name: lldap-pg-secret
      - login: true
        name: authelia
        passwordSecret:
          name: authelia-pg-secret
  monitoring:
    enablePodMonitor: true
  plugins:
    - isWALArchiver: true
      name: barman-cloud.cloudnative-pg.io
      parameters:
        barmanObjectName: minio
        serverName: security-pg-v6
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: 512MB
  primaryUpdateStrategy: unsupervised
  resources:
    limits:
      cpu: 1
      hugepages-1Gi: 1Gi
      memory: 2Gi
    requests:
      cpu: 1
      hugepages-1Gi: 1Gi
      memory: 2Gi
  storage:
    size: 20Gi
    storageClass: openebs-hostpath
  superuserSecret:
    name: security-pg-secret
