---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: security-pg
spec:
  dataFrom:
    - extract:
        key: cloudnative-pg
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: security-pg-secret
    template:
      data:
        password: "{{ .pgSuperpass }}"
        s3-access-key: "{{ .s3AccessKey }}"
        s3-secret-key: "{{ .s3SecretKey }}"
        username: "{{ .pgSuperuser}}"
      metadata:
        labels:
          cnpg.io/reload: "true"
---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: lldap-pg
spec:
  dataFrom:
    - extract:
        key: lldap
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: lldap-pg-secret
    template:
      data:
        password: "{{ .dbPass }}"
        username: "{{ .dbUser }}"
      metadata:
        labels:
          cnpg.io/reload: "true"
---
# yaml-language-server: $schema=https://schemas.serek.xyz/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authelia-pg
spec:
  dataFrom:
    - extract:
        key: authelia
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: authelia-pg-secret
    template:
      data:
        password: "{{ .dbPass }}"
        username: "{{ .dbUser }}"
      metadata:
        labels:
          cnpg.io/reload: "true"
