---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: security-pg
spec:
  backupOwnerReference: self
  cluster:
    name: security-pg
  immediate: true
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
  schedule: "@daily"
