---
# yaml-language-server: $schema=https://schemas.serek.xyz/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app jellyfin
spec:
  components:
    - ../../../../components/gatus/external
    - ../../../../components/volsync
  interval: 1h
  path: ./kubernetes/apps/media/jellyfin/app
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 10Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: media
  wait: false
