---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app jellyfin
spec:
  components:
    - ../../../../components/gatus/external
    - ../../../../components/volsync
  interval: 1h
  path: ./kubernetes/apps/media/jellyfin/app
  postBuild:
    substitute:
      APP: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: media
  wait: false
