---
services:
  docker:
    image: ghcr.io/distribution/distribution:3.0.0
    ports:
      - 5000:5000
    environment:
      - REGISTRY_PROXY_REMOTEURL=https://registry-1.docker.io
      - REGISTRY_PROXY_TTL=48h
    volumes:
      - /mnt/flash/docker/registry/data/docker:/var/lib/registry
    restart: always
  k8s:
    image: ghcr.io/distribution/distribution:3.0.0
    ports:
      - 5001:5000
    environment:
      - REGISTRY_PROXY_REMOTEURL=https://registry.k8s.io
      - REGISTRY_PROXY_TTL=48h
    volumes:
      - /mnt/flash/docker/registry/data/k8s:/var/lib/registry
    restart: always
  gcr:
    image: ghcr.io/distribution/distribution:3.0.0
    ports:
      - 5002:5000
    environment:
      - REGISTRY_PROXY_REMOTEURL=https://gcr.io
      - REGISTRY_PROXY_TTL=48h
    volumes:
      - /mnt/flash/docker/registry/data/gcr:/var/lib/registry
    restart: always
  ghcr:
    image: ghcr.io/distribution/distribution:3.0.0
    ports:
      - 5003:5000
    environment:
      - REGISTRY_PROXY_REMOTEURL=https://ghcr.io
      - REGISTRY_PROXY_TTL=48h
    volumes:
      - /mnt/flash/docker/registry/data/ghcr:/var/lib/registry
    restart: always
