---
services:
  docker:
    image: registry:2
    ports:
      - 5000:5000
    environment:
      - REGISTRY_PROXY_REMOTEURL=https://registry-1.docker.io
    volumes:
      - ./data/docker:/var/lib/registry
    restart: always
  k8s:
    image: registry:2
    ports:
      - 5001:5000
    environment:
      - REGISTRY_PROXY_REMOTEURL=https://registry.k8s.io
    volumes:
      - ./data/k8s:/var/lib/registry
    restart: always
  gcr:
    image: registry:2
    ports:
      - 5002:5000
    environment:
      - REGISTRY_PROXY_REMOTEURL=https://gcr.io
    volumes:
      - ./data/gcr:/var/lib/registry
    restart: always
  ghcr:
    image: registry:2
    ports:
      - 5003:5000
    environment:
      - REGISTRY_PROXY_REMOTEURL=https://ghcr.io
    volumes:
      - ./data/ghcr:/var/lib/registry
    restart: always
