---
# yaml-language-server: $schema=https://schemas.serek.xyz/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-mikrotik
spec:
  chartRef:
    kind: OCIRepository
    name: external-dns
  interval: 1h
  values:
    domainFilters:
      - serek.xyz
    extraArgs:
      - --managed-record-types=A
      - --managed-record-types=AAAA
      - --managed-record-types=CNAME
      - --managed-record-types=TXT
      - --managed-record-types=MX
      - --managed-record-types=SRV
      - --managed-record-types=NS
    fullnameOverride: *app
    logFormat: text
    logLevel: debug
    podAnnotations:
      secret.reloader.stakater.com/reload: &secret external-dns-mikrotik-secret
    policy: sync
    provider:
      name: webhook
      webhook:
        env:
          - name: MIKROTIK_BASEURL
            valueFrom:
              secretKeyRef:
                key: MIKROTIK_BASEURL
                name: *secret
          - name: MIKROTIK_USERNAME
            valueFrom:
              secretKeyRef:
                key: MIKROTIK_USERNAME
                name: *secret
          - name: MIKROTIK_PASSWORD
            valueFrom:
              secretKeyRef:
                key: MIKROTIK_PASSWORD
                name: *secret
          - name: MIKROTIK_SKIP_TLS_VERIFY
            valueFrom:
              secretKeyRef:
                key: MIKROTIK_SKIP_TLS_VERIFY
                name: *secret
        image:
          repository: ghcr.io/mirceanton/external-dns-provider-mikrotik
          tag: v1.5.2@sha256:32b789280b8e4ee7c9e485cbb422ec4ff65e62fea6ec73db9bcd157a75d9a3e1
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /readyz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
    serviceMonitor:
      enabled: true
    sources:
      - service
      - gateway-httproute
      - crd
    triggerLoopOnEvent: true
    txtOwnerId: main
    txtPrefix: k8s.main.
