---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 4.4.0
  install:
    remediation:
      retries: 3
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              HASS_HTTP_TRUSTED_PROXY_1: 10.0.0.0/16
              HASS_HTTP_TRUSTED_PROXY_2: 10.1.0.0/16
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.11.0@sha256:584c95006d20d1df3a4afd6d03d72482dbc15c6646bfe66aa0d560394c5eb9e9
            resources:
              limits:
                memory: 4Gi
              requests:
                cpu: 100m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
          code-server:
            args: ["--auth", "none", "--user-data-dir", "/config/.vscode", "--extensions-dir", "/config/.vscode", "--port", "12321", "/config"]
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.105.1@sha256:2d48970bd2084aa34a522d772b6a437981ea80407465b3bf7958553985c570e1
            resources:
              limits:
                memory: 512Mi
              requests:
                cpu: 10m
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name": "multus-trusted",
            "namespace": "network",
            "ips": ["10.0.10.70/24"],
            "mac": "ea:3c:79:4e:d7:92"
          },
          {
            "name": "multus-untrusted",
            "namespace": "network",
            "ips": ["10.0.20.70/24"],
            "mac": "8a:2d:2f:f6:4d:98"
          }]
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    ingress:
      app:
        className: external
        hosts:
          - host: hass.serek.xyz
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
      code-server:
        className: internal
        hosts:
          - host: hass-code.serek.xyz
            paths:
              - path: /
                service:
                  identifier: app
                  port: code-server
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      logs:
        globalMounts:
          - path: /config/logs
        type: emptyDir
      tmp:
        globalMounts:
          - path: /tmp
        type: emptyDir
      tts:
        globalMounts:
          - path: /config/tts
        type: emptyDir
    service:
      app:
        controller: *app
        ports:
          code-server:
            port: 12321
          http:
            port: 8123
