---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              HASS_HTTP_TRUSTED_PROXY_1: 10.0.0.0/16
              HASS_HTTP_TRUSTED_PROXY_2: 10.1.0.0/16
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.11.3@sha256:a5664f45374307caedca83309bf6a2c63c46868de68f5c93ff7a217159ba67eb
            resources:
              limits:
                memory: 4Gi
              requests:
                cpu: 100m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "multus-trusted",
            "namespace": "network",
            "ips": ["10.0.10.70/24"],
            "mac": "ea:3c:79:4e:d7:92"
          },
          {
            "name": "multus-untrusted",
            "namespace": "network",
            "ips": ["10.0.20.70/24"],
            "mac": "8a:2d:2f:f6:4d:98"
          }]
      securityContext:
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 3000
        runAsNonRoot: true
        runAsUser: 3000
        seccompProfile: {type: RuntimeDefault}
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      logs:
        globalMounts:
          - path: /config/logs
        type: emptyDir
      tmp:
        globalMounts:
          - path: /tmp
        type: emptyDir
      tts:
        globalMounts:
          - path: /config/tts
        type: emptyDir
    route:
      app:
        hostnames:
          - hass.serek.xyz
        parentRefs:
          - name: envoy-external
            namespace: network
    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/ws
            port: 8123
