---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app rook-ceph
spec:
  interval: 1h
  path: ./kubernetes/apps/rook-ceph/rook-ceph/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: *app
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app rook-ceph-cluster
spec:
  components:
    - ../../../../components/gatus/internal
  dependsOn:
    - name: rook-ceph
    - name: volsync
      namespace: storage
  healthCheckExprs:
    - apiVersion: ceph.rook.io/v1
      current: status.ceph.health in ['HEALTH_OK', 'HEALTH_WARN']
      failed: status.ceph.health == 'HEALTH_ERR'
      kind: CephCluster
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: rook-ceph-cluster
      namespace: &namespace rook-ceph
    - apiVersion: ceph.rook.io/v1
      kind: CephCluster
      name: rook-ceph
      namespace: *namespace
  interval: 1h
  path: ./kubernetes/apps/rook-ceph/rook-ceph/cluster
  postBuild:
    substitute:
      APP: *app
      GATUS_SUBDOMAIN: rook
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: *namespace
