---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app volsync
spec:
  chart:
    spec:
      chart: *app
      sourceRef:
        kind: HelmRepository
        name: backube
        namespace: flux-system
      version: 0.13.1
  dependsOn:
    - name: snapshot-controller
      namespace: storage
  interval: 1h
  values:
    manageCRDs: true
    metrics:
      disableAuth: true
    podSecurityContext:
      runAsGroup: 3000
      runAsNonRoot: true
      runAsUser: 3000
      seccompProfile: {type: RuntimeDefault}
    replicaCount: 2
