---
# yaml-language-server: $schema=https://schemas.serek.xyz/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: volsync
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.13.1
  url: oci://ghcr.io/home-operations/charts-mirror/volsync
---
# yaml-language-server: $schema=https://schemas.serek.xyz/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app volsync
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  dependsOn:
    - name: snapshot-controller
      namespace: storage
  interval: 1h
  values:
    manageCRDs: true
    metrics:
      disableAuth: true
    podSecurityContext:
      runAsGroup: 3000
      runAsNonRoot: true
      runAsUser: 3000
      seccompProfile: {type: RuntimeDefault}
    replicaCount: 2
