---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: github-token
spec:
  dataFrom:
    - extract:
        key: flux
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepass-connect
  target:
    name: github-token-secret
    template:
      data:
        token: "{{ .githubToken }}"
