---
# yaml-language-server: $schema=https://schemas.serek.xyz/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: rook-ceph
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: v1.19.0
  url: oci://ghcr.io/rook/rook-ceph
---
# yaml-language-server: $schema=https://schemas.serek.xyz/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rook-ceph
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    csi:
      cephFSKernelMountOptions: ms_mode=prefer-crc
      # enableLiveness: true TODO: why isn't this working?
      # serviceMonitor:
      #   enabled: true
    image:
      repository: ghcr.io/rook/ceph
    monitoring:
      enabled: true
