---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app echo-server
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      echo-server:
        containers:
          app:
            env:
              HTTP_PORT: 8080
              LOG_IGNORE_PATH: /healthz
              LOG_WITHOUT_NEWLINE: true
              PROMETHEUS_ENABLED: true
              TZ: America/New_York
            image:
              repository: ghcr.io/mendhak/http-https-echo
              tag: 39
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /healthz
                    port: 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *probes
            resources:
              limits:
                memory: 64Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
              readOnlyRootFilesystem: true
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
        seccompProfile: {type: RuntimeDefault}
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.serek.xyz"
        parentRefs:
          - name: envoy-external
            namespace: network
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080
    serviceMonitor:
      app:
        endpoints:
          - interval: 1m
            path: /metrics
            port: http
            scheme: http
            scrapeTimeout: 10s
        serviceName: echo-server
