---
# yaml-language-server: $schema=https://schemas.serek.xyz/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: dispatcharr-dragonfly
spec:
  dependsOn:
    - name: dragonfly-operator
      namespace: database
  interval: 1h
  path: ./kubernetes/apps/media/dispatcharr/dragonfly
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: media
  wait: true
---
# yaml-language-server: $schema=https://schemas.serek.xyz/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app dispatcharr
spec:
  components:
    - ../../../../components/gatus/external
  dependsOn:
    - name: dispatcharr-dragonfly
  interval: 1h
  path: ./kubernetes/apps/media/dispatcharr/app
  postBuild:
    substitute:
      APP: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: media
  wait: false
