---
apiVersion: kustomize.config.k8s.io/v1beta1
configMapGenerator:
  - files:
      - values.yaml=./helm-values.yaml
    name: external-secrets-helm-values
configurations:
  - kustomizeconfig.yaml
kind: Kustomization
resources:
  - ./helmrelease.yaml
