---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app authelia
spec:
  dependsOn:
    - name: external-secrets-stores
      namespace: security
    - name: security-pg
      namespace: security
  interval: 1h
  path: ./kubernetes/apps/security/authelia/app
  postBuild:
    substitute:
      APP: *app
      GATUS_SUBDOMAIN: sso
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: security
  wait: false
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: authelia-dragonfly
spec:
  dependsOn:
    - name: dragonfly-operator
      namespace: database
  interval: 1h
  path: ./kubernetes/apps/security/authelia/dragonfly
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: security
  wait: false
